@model Pastures2019.Models.Camel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Camel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreedRU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreedRU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreedKK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreedKK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreedEN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreedEN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightRU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightRU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightKK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightKK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightEN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightEN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlaughterYield)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlaughterYield)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EwesYieldRU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EwesYieldRU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EwesYieldKK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EwesYieldKK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EwesYieldEN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EwesYieldEN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalGoals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MilkFatContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MilkFatContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RangeRU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RangeRU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RangeKK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RangeKK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RangeEN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RangeEN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionRU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionRU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionKK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionKK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionEN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionEN)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
