@using Pastures2019.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ГИС-Пастбища</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="~/ico/favicon.png">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
@{
    var controllerName = string.Empty;
    object controllerObj;
    var actionName = string.Empty;
    object actionObj;

    if (ViewContext.RouteData.Values.TryGetValue("controller", out controllerObj))
    {
        controllerName = controllerObj.ToString();
    }

    if (ViewContext.RouteData.Values.TryGetValue("action", out actionObj))
    {
        actionName = actionObj.ToString();
    }
}
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark position-sticky border-bottom border-light shadow" style="background-color: #0d77b6;">            
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPasture" aria-controls="navbarPasture" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand text-capitalize" href="http://kazniizhik.kz/" target="_blank">
                    <img src="~/images/logoKazniijik.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                    КазНИИЖиК
                </a>
                <div class="collapse navbar-collapse" id="navbarPasture">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@SharedLocalizer["Home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">@SharedLocalizer["About"]</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="mapmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@SharedLocalizer["Maps"]</a>
                            <div class="dropdown-menu" aria-labelledby="mapmenu">
                                @if (controllerName == "Maps" && actionName == "Modis")
                                {
                                    <a class="dropdown-item active" asp-area="" asp-controller="Maps" asp-action="Modis">NDVI Greenness Maps</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Maps" asp-action="Modis">NDVI Greenness Maps</a>
                                }
                                @if (controllerName == "Maps" && actionName == "FodderResources")
                                {
                                    <a class="dropdown-item active" asp-area="" asp-controller="Maps" asp-action="FodderResources">@SharedLocalizer["FodderResources"]</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Maps" asp-action="FodderResources">@SharedLocalizer["FodderResources"]</a>
                                }
                                @if (controllerName == "Maps" && actionName == "LandSupply")
                                {
                                    <a class="dropdown-item active" asp-area="" asp-controller="Maps" asp-action="LandSupply">@SharedLocalizer["LandSupply"]</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Maps" asp-action="LandSupply">@SharedLocalizer["LandSupply"]</a>
                                }
                                @if (controllerName == "Maps" && actionName == "Species")
                                {
                                    <a class="dropdown-item active" asp-area="" asp-controller="Maps" asp-action="Species">@SharedLocalizer["Species"]</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Maps" asp-action="Species">@SharedLocalizer["Species"]</a>
                                }
                                @if (controllerName == "Maps" && actionName == "PasturesBurden")
                                {
                                    <a class="dropdown-item active" asp-area="" asp-controller="Maps" asp-action="PasturesBurden">@SharedLocalizer["PasturesBurden"]</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Maps" asp-action="PasturesBurden">@SharedLocalizer["PasturesBurden"]</a>
                                }
                                @if (controllerName == "Maps" && actionName == "Wells")
                                {
                                    <a class="dropdown-item active" asp-area="" asp-controller="Maps" asp-action="Wells">@SharedLocalizer["Wells"]</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Maps" asp-action="Wells">@SharedLocalizer["Wells"]</a>
                                }
                                @if (controllerName == "Maps" && actionName == "FAO")
                                {
                                    <a class="dropdown-item active" asp-area="" asp-controller="Maps" asp-action="CACILM2">@SharedLocalizer["FAO"]</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Maps" asp-action="CACILM2">@SharedLocalizer["FAO"]</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="somemenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@SharedLocalizer["Others"]</a>
                            <div class="dropdown-menu" aria-labelledby="somemenu">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Instruction">@SharedLocalizer["Instruction"]</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Contact">@SharedLocalizer["Contact"]</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="FAQ">@SharedLocalizer["FAQ"]</a>
                            </div>
                        </li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Administrator">@SharedLocalizer["Administrator"]</a>
                            </li>
                        }
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="flex-shrink-0 p-0">
        <partial name="_CookieConsentPartial" />
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </main>

</body>
</html>
