@using Pastures2019.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ГИС-Пастбища</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/vendor/font-awesome/css/font-awesome.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="~/ico/favicon.png">
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
@{
    var controllerName = string.Empty;
    object controllerObj;
    var actionName = string.Empty;
    object actionObj;

    if (ViewContext.RouteData.Values.TryGetValue("controller", out controllerObj))
    {
        controllerName = controllerObj.ToString();
    }

    if (ViewContext.RouteData.Values.TryGetValue("action", out actionObj))
    {
        actionName = actionObj.ToString();
    }
}
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark position-sticky border-bottom border-light shadow" style="background-color: #0d77b6;">
            <div class="container">
                @*<a class="navbar-brand" href="#">Pasture 2019</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPasture" aria-controls="navbarPasture" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>*@
                <div class="collapse navbar-collapse" id="navbarPasture">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            @if (controllerName == "Home" && actionName == "Index")
                            {
                                <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">@SharedLocalizer["Home"]</a>
                            }
                            else
                            {
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@SharedLocalizer["Home"]</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (controllerName == "Home" && actionName == "About")
                            {
                                <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="About">@SharedLocalizer["About"]</a>
                            }
                            else
                            {
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">@SharedLocalizer["About"]</a>
                            }
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="mapmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@SharedLocalizer["Maps"]</a>
                            <div class="dropdown-menu" aria-labelledby="mapmenu">
                                <a class="dropdown-item" asp-area="" asp-controller="Maps" asp-action="Modis">NDVI Greenness Maps</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Maps" asp-action="FodderResources">@SharedLocalizer["FodderResources"]</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Maps" asp-action="LandSupply">@SharedLocalizer["LandSupply"]</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Maps" asp-action="Species">@SharedLocalizer["Species"]</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Maps" asp-action="PasturesBurden">@SharedLocalizer["PasturesBurden"]</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Maps" asp-action="Wells">@SharedLocalizer["Wells"]</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            @if (controllerName == "Home" && (actionName == "Instruction" || actionName == "Contact"))
                            {
                                <a class="nav-link dropdown-toggle active" href="#" id="somemenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@SharedLocalizer["Others"]</a>
                            }
                            else
                            {
                                <a class="nav-link dropdown-toggle" href="#" id="somemenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@SharedLocalizer["Others"]</a>
                            }
                            <div class="dropdown-menu" aria-labelledby="somemenu">
                                @if (controllerName == "Home" && actionName == "Instruction")
                                {
                                    <a class="dropdown-item active" asp-area="" asp-controller="Home" asp-action="Instruction">@SharedLocalizer["Instruction"]</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Instruction">@SharedLocalizer["Instruction"]</a>
                                }
                                @if (controllerName == "Home" && actionName == "Contact")
                                {
                                    <a class="dropdown-item active" asp-area="" asp-controller="Home" asp-action="Contact">@SharedLocalizer["Contact"]</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Contact">@SharedLocalizer["Contact"]</a>
                                }
                                @*<a class="dropdown-item" href="#">Something else here</a>*@
                            </div>
                        </li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item ">
                                @if (controllerName == "Home" && actionName == "Administrator")
                                {
                                    <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Administrator">@SharedLocalizer["Administrator"]</a>
                                }
                                else
                                {
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Administrator">@SharedLocalizer["Administrator"]</a>
                                }
                            </li>
                        }
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="flex-shrink-0">
        <partial name="_CookieConsentPartial" />
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </main>
    <footer class="footer fixed-bottom bg-light pt-2">
        <div class="container">
            &copy; @DateTime.Now.Year.ToString() - ГИС-Пастбища @*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
            @await Html.PartialAsync("_SelectLanguagePartial")
        </div>
    </footer>
</body>
</html>
