@using Pastures2019.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["FodderResources"];
    Layout = "~/Views/Shared/_LayoutMap.cshtml";
}
@await Html.PartialAsync("_StylesTabAndShart")

<link href="~/lib/ol/ol.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/vendor/font-awesome/css/font-awesome.min.css" />
<script src="~/lib/ol/ol.js"></script>
<link href="~/lib/vendor/jBox/dist/jBox.all.css" rel="stylesheet" />
<script src="~/lib/vendor/jBox/dist/jBox.all.js"></script>
<link href="~/lib/сhart.js/dist/Chart.css" rel="stylesheet" />
<script src="~/lib/сhart.js/dist/Chart.js"></script>

<div class="container-fluid sticky-top p-0">
    <!-- Sidebar -->
    <nav class="sidebar border border-light overflow-auto">
        <div class="page-wrapper">
            <!-- close sidebar menu -->
            <div class="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>
            <div class="logo">
                <h3><a href="#">Gis-Pasture</a></h3>
            </div>
            <!-- Other sections -->
            <ul class="list-unstyled menu-elements">
                <li>
                    <a href="#FindKATOSections" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle" role="button" aria-controls="FindKATOSections">
                        <i class="fa fa-search"></i>@SharedLocalizer["TerritorySearch"]
                    </a>
                    <div id="FindKATOSections" class="collapse show" aria-labelledby="headingOne" data-parent="#FindKATOSections">
                        <div class="col">
                            <form>
                                <div class="form-group mb-0">
                                    <label class="m-0" for="catosearch1">@SharedLocalizer["Areas"]</label>
                                    <select class="form-control form-control-sm" id="catosearch1" onchange="ChangeCATOsearch1()"></select>
                                </div>
                                <div class="form-group mb-0">
                                    <label for="catosearch2" class="m-0">@SharedLocalizer["Districts"]</label>
                                    <select class="form-control form-control-sm" id="catosearch2" onchange="ChangeCATOsearch2()"></select>
                                </div>
                                <div class="form-group">
                                    <label for="catosearch3" class="m-0">@SharedLocalizer["RuralCounties"]</label>
                                    <select class="form-control form-control-sm" id="catosearch3" onchange="ChangeCATOsearch3()"></select>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#TematicLayerSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="TematicLayerSections">
                        <i class="fa fa-list"></i>@SharedLocalizer["BaseLayers"]
                    </a>
                    <div id="TematicLayerSections" class="collapse collapse show" aria-labelledby="headingOne" data-parent="#TematicLayerSections">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="layerpopShow" checked="checked" onchange="ChangeLayers()">
                                <label class="form-check-label" for="layerpopShow">
                                    @SharedLocalizer["popLayer"]
                                </label>
                                <input id="layerpopOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="layeradmxpolShow" onchange="ChangeLayers()">
                                <label class="form-check-label" for="layeradmxpolShow">
                                    @SharedLocalizer["admxpolLayer"]
                                </label>
                                <input id="layeradmxpolOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="layerhdrShow" checked="checked" onchange="ChangeLayers()">
                                <label class="form-check-label" for="layerhdrShow">
                                    @SharedLocalizer["hdrLayer"]
                                </label>
                                <input id="layerhdrOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="layerrdslinShow" checked="checked" onchange="ChangeLayers()">
                                <label class="form-check-label" for="layerrdslinShow">
                                    @SharedLocalizer["rdslinLayer"]
                                </label>
                                <input id="layerrdslinOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="layerpasturepolShow" checked="checked" onchange="ChangeLayers()">
                                <label class="form-check-label" for="layerpasturepolShow">
                                    @SharedLocalizer["pasturepolLayer"]
                                </label>
                                <input id="layerpasturepolOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#BaseLayerSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="BaseLayerSections">
                        <i class="fa fa-refresh"></i>@SharedLocalizer["BackgroundLayers"]
                    </a>
                    <div id="BaseLayerSections" class="collapse collapse in" aria-labelledby="headingOne" data-parent="#BaseLayerSections">
                        <div class="card-body">
                            <div class="input-group input-group-sm">
                                <select class="custom-select" id="layerBaseType" onchange="ChangeLayers()">
                                    <option value="OSM" selected>OpenStreetMap</option>
                                    <option value="BingAerialWithLabels">Bing Aerial</option>
                                    <option value="BingRoadStatic">Bing Road (static)</option>
                                    <option value="BingRoadDynamic">Bing Road (dynamic)</option>
                                    <option value="HERENormalDay">HERE Normal Day</option>
                                    <option value="HERENormalDayTransit">HERE Normal Day Transit</option>
                                    <option value="HERETerrainDay">HERE Terrain Day</option>
                                    <option value="HEREHybridDay">HERE Hybrid Day</option>
                                    <option value="StamenWatercolor">Stamen Watercolor</option>
                                    <option value="StamenTerrain">Stamen Terrain</option>
                                    <option value="StamenToner">Stamen Toner</option>
                                    <option value="ArcGIS">ArcGIS</option>
                                    <option value="ThunderforestOpenCycleMap">Thunderforest OpenCycleMap</option>
                                    <option value="ThunderforestTransport">Thunderforest Transport</option>
                                    <option value="ThunderforestLandscape">Thunderforest Landscape</option>
                                    <option value="ThunderforestOutdoors">Thunderforest Outdoors</option>
                                    <option value="ThunderforestSpinalMap">Thunderforest Spinal Map</option>
                                    <option value="ThunderforestPioneer">Thunderforest Pioneer</option>
                                    <option value="ThunderforestMobileAtlas">Thunderforest Mobile Atlas</option>
                                    <option value="ThunderforestNeighbourhood">Thunderforest Neighbourhood</option>
                                </select>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input type="checkbox" id="layerBaseShow" checked="checked" onchange="ChangeLayers()">
                                    </div>
                                </div>
                            </div>
                            <input id="layerBaseOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                        </div>
                    </div>
                </li>
            </ul>
            <!-- Exaple 1 -->
            <div class="card-body">
                <div class="col-sm-12" style="display: none" id="FilterPasture">
                    <form>
                        <div class="form-row">
                            <label class="col-sm-4 col-form-label" for="Otdel">@SharedLocalizer["Otdel"]</label>
                            <div class="col-sm-8">
                                <select class="form-control form-control-sm" id="find_otdel" asp-items="@((IEnumerable<SelectListItem>)ViewBag.Otdel)" name="Otdel" value=""><option value=""></option></select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="col-sm-4 col-form-label" for="PType">@SharedLocalizer["PType"]</label>
                            <div class="col-sm-8">
                                <select class="form-control form-control-sm" id="find_ptype" asp-items="@((IEnumerable<SelectListItem>)ViewBag.PType)" name="PType" value=""><option value=""></option></select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label class="col-sm-4 col-form-label" for="Soob">@SharedLocalizer["Soob"]</label>
                            <div class="col-sm-8">
                                <select class="form-control form-control-sm" id="find_soob" asp-items="@((IEnumerable<SelectListItem>)ViewBag.PType)" name="Soob" value=""><option value=""></option></select>
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="col">
                                <label for="Urandkorm">@SharedLocalizer["ProductivityhhaOfFeedUnits"]</label>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm">
                            <tbody>
                                <tr>
                                    <th scope="row" style="min-width:80px">@SharedLocalizer["Spring"]</th>
                                    <td><input class="form-control form-control-sm" id="find_ur_v_from" type="text" /></td>
                                    <td>-</td>
                                    <td><input class="form-control form-control-sm" id="find_ur_v_to" type="text" /></td>
                                </tr>
                                <tr>
                                    <th scope="row">@SharedLocalizer["Summer"]</th>
                                    <td><input class="form-control form-control-sm" id="find_ur_l_from" type="text" /></td>
                                    <td>-</td>
                                    <td><input class="form-control form-control-sm" id="find_ur_l_to" type="text" /></td>
                                </tr>
                                <tr>
                                    <th scope="row">@SharedLocalizer["Autumn"]</th>
                                    <td><input class="form-control form-control-sm" id="find_ur_o_from" type="text" /></td>
                                    <td>-</td>
                                    <td><input class="form-control form-control-sm" id="find_ur_o_to" type="text" /></td>
                                </tr>
                                <tr>
                                    <th scope="row">@SharedLocalizer["Winter"]</th>
                                    <td><input class="form-control form-control-sm" id="find_ur_z_from" type="text" /></td>
                                    <td>-</td>
                                    <td><input class="form-control form-control-sm" id="find_ur_z_to" type="text" /></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group m-0">
                            <label for="Recommend">@SharedLocalizer["Recommend"]</label>
                            <select class="form-control form-control-sm" id="find_recommend" asp-items="@((IEnumerable<SelectListItem>)ViewBag.Recommend)" name="Recommend" value=""><option value=""></option></select>
                        </div>
                        <div class="form-group m-0">
                            <label for="RecomCattle">@SharedLocalizer["RecomCattle"]</label>
                            <select class="form-control form-control-sm" id="find_recomcattle" asp-items="@((IEnumerable<SelectListItem>)ViewBag.RecomCattle)" name="RecomCattle" value=""><option value=""></option></select>
                        </div>
                        <input class="btn btn-warning btn-block mt-3" type="button" value="@SharedLocalizer["Find"]" onclick="FindPastures()" />
                    </form>
                </div>
                <div class="col-md-12" style="display: none" id="FilterKato">
                    <form>
                        <div class="form-group m-0">
                            <label for="cato1" class="col-sm-auto col-form-label col-form-label-sm">@SharedLocalizer["Areas"]</label>
                            <select class="form-control form-control-sm" id="cato1" onchange="ChangeCATO1()"></select>
                        </div>
                        <div class="form-group m-0">
                            <label for="cato2" class="col-sm-auto col-form-label col-form-label-sm">@SharedLocalizer["Districts"]</label>
                            <select class="form-control form-control-sm" id="cato2" onchange="ChangeCATO2()"></select>
                        </div>
                        <div class="form-group m-0">
                            <label for="cato3" class="col-sm-auto col-form-label col-form-label-sm">@SharedLocalizer["RuralCounties"]</label>
                            <select class="form-control form-control-sm" id="cato3" onchange="ChangeCATO3()"></select>
                        </div>
                        <input id="FilterChart" class="btn btn-warning btn-block mt-3" type="button" value="@SharedLocalizer["Information"]" onclick="InfoCATO()" />
                    </form>
                </div>
                <div class="table-responsive-sm" style="display: none" id="InfoKatoContent">
                    <ul class="nav nav-pills" id="InfoKatoTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active text-white" id="pills-chart-tab" data-toggle="pill" href="#pills-chart" role="tab" aria-controls="pills-chart" aria-selected="true">@SharedLocalizer["Chart"]</a>
                        </li>
                        <li class="nav-item text-white">
                            <a class="nav-link text-white" id="pills-table-tab" data-toggle="pill" href="#pills-table" role="tab" aria-controls="pills-table" aria-selected="false">@SharedLocalizer["Table"]</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="InfoKatoTabContent">
                        <div class="tab-pane fade show active" id="pills-chart" role="tabpanel" aria-labelledby="pills-chart-tab">
                            <canvas id="chart" class="chartjs-render-monitor my-0 mh-100" width="400" height="300"></canvas>
                            <button id="download-pdf" onclick="saveAsPDF();" type="button" class="btn btn-primary btn-sm float-right">PDF</button>
                        </div>
                        <div class="tab-pane fade" id="pills-table" role="tabpanel" aria-labelledby="pills-table-tab">
                            <div class="table-responsive-sm">
                                <table class="table table-striped table-hover table-sm small" id="table_info_ptype">
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div class="btn-group float-right" role="group">
                                <button id="btnGroupDownload2" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @SharedLocalizer["Download"]
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDownload2">
                                    <a class="dropdown-item" href="#" role="button" id="excel_ptype"><i class="fa fa-file-excel-o"></i>Excel</a>
                                    <a class="dropdown-item" href="#" role="button" id="txt_ptype"><i class="fa fa-file-text-o"></i>TXT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive-sm" style="display: none" id="InfoMap">
                    <table class="table table-striped table-hover table-sm small" id="InfoTableContent">
                        <tbody>
                            <tr>
                                <th scope="row" id="infoVydel" style="width:30%">@SharedLocalizer["AllocationNumber"]</th>
                                <td class="font-italic" colspan="2" id="valueVydel"></td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoOtdel">@SharedLocalizer["Otdel"]</th>
                                <td class="font-italic" colspan="2" id="valueOtdel"></td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoPClass">@SharedLocalizer["PClass"]</th>
                                <td class="font-italic" colspan="2" id="valuePClass"></td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoGroup">@SharedLocalizer["Group"]</th>
                                <td class="font-italic" colspan="2" id="valueGroup"></td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoGroupLat">@SharedLocalizer["GroupLat"]</th>
                                <td class="font-italic" colspan="2" id="valueGroupLat"></td>
                            </tr>
                            <tr class="table-active">
                                <th scope="row" id="infoAllocatedFeedResources">@SharedLocalizer["AllocatedFeedResources"]</th>
                                <td id="infocha">@SharedLocalizer["cha"]</td>
                                <td id="infoсhaFeedUnits">@SharedLocalizer["сhaFeedUnits"]</td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoSpring">@SharedLocalizer["Spring"]</th>
                                <td class="font-italic" id="valueUr_v"></td>
                                <td class="font-italic" id="valueKorm_v"></td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoSummer">@SharedLocalizer["Summer"]</th>
                                <td class="font-italic" id="valueUr_l"></td>
                                <td class="font-italic" id="valueKorm_l"></td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoAutumn">@SharedLocalizer["Autumn"]</th>
                                <td class="font-italic" id="valueUr_o"></td>
                                <td class="font-italic" id="valueKorm_o"></td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoWinter">@SharedLocalizer["Winter"]</th>
                                <td class="font-italic" id="valueUr_z"></td>
                                <td class="font-italic" id="valueKorm_z"></td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoRecommendationForUse">@SharedLocalizer["RecommendationForUse"]</th>
                                <td class="font-italic" colspan="2" id="valueRecommendationForUse"></td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoRecomCattles">@SharedLocalizer["RecomCattles"]</th>
                                <td class="font-italic" colspan="2" id="valueRecomCattles"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-group float-right" role="group">
                        <button id="btnGroupDownload" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @SharedLocalizer["Download"]
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDownload">
                            <a class="dropdown-item" href="#" role="button" id="excelbutton"><i class="fa fa-file-excel-o"></i>Excel</a>
                            <a class="dropdown-item" href="#" role="button" id="txtbutton"><i class="fa fa-file-text-o"></i>TXT</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Exaple 1 -->
            <div class="dark-light-buttons">
                <a class="btn btn-primary btn-customized-4 btn-customized-dark" href="#" role="button">Dark</a>
                <a class="btn btn-primary btn-customized-4 btn-customized-light" href="#" role="button">Light</a>
            </div>

        </div>
        <div class="chiller-theme">
            <div class="sidebar-footer">
                <a href="#">
                    <i class="SomeInfo fa fa-home" InfoTitle="@SharedLocalizer["ToHome"]" onclick="ToHome()"></i>
                </a>
                <a href="/Home/Instruction#FodderResources">
                    <i class="SomeInfo fa fa-film" InfoTitle="@SharedLocalizer["Instruction"]"></i>
                </a>
                <a href="#" id="InfoBtn" class="target-click">
                    <i class="SomeInfo fa fa-info-circle" InfoTitle="@SharedLocalizer["ClickOnAPlaceOnTheMapToGetInformationAboutObjects"]"></i>
                </a>
                <a href="#" id="MapTitleBtn" class="target-click">
                    <i class="SomeInfo fa fa-bookmark" InfoTitle="@SharedLocalizer["LayerInfo"]"></i>
                </a>
            </div>
        </div>
    </nav>
    <!-- End sidebar -->
    <!-- Content -->
    <div class="content">
        <!-- open sidebar menu -->
        <a class="btn btn-light btn-customized open-menu" href="#" role="button">
            <i class="fa fa-align-left"></i> <span>@SharedLocalizer["Menu"]</span>
        </a>
        <!-- Map content -->
        <div id="map" class="position-fixed col-md-12 ml-sm-auto col-lg-12 p-0" style="height: calc(100% - 100px);"></div>
    </div>
    <!-- End content -->
    <footer class="footer-classic fixed-bottom border-top border-light">
        <div class="container-fluid">
            <div class="row align-items-center m-1">
                <div class="col">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button id="FilterKATOBtn" type="button" class="btn btn-outline-primary btn-sm"><i class="SomeInfo fa fa-pie-chart" InfoTitle="@SharedLocalizer["FreeInformation"]"></i></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button id="FilterPastureBtn" type="button" class="btn btn-outline-primary btn-sm"><i class="SomeInfo fa fa-binoculars" InfoTitle="@SharedLocalizer["PastureSearch"]"></i></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                            <button id="HomeBtn" type="button" class="btn btn-outline-primary btn-sm"><i class="SomeInfo fa fa-home" InfoTitle="@SharedLocalizer["ToHome"]" onclick="ToHome()"></i></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Four group">
                            <button id="LegendBtn2" type="button" class="btn btn-outline-primary btn-sm"><i class="SomeInfo fa fa-list-alt" InfoTitle="@SharedLocalizer["Legend"]"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="float-right">
                        <!--LiveInternet counter--><a href="//www.liveinternet.ru/click"
                                                      target="_blank">
                            <img id="licnt1C2F" width="16" height="16" style="border:0"
                                 title="LiveInternet"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                                 alt="" />
                        </a>
                        <script>
    (function (d, s) {
                                d.getElementById("licnt1C2F").src =
                                "//counter.yadro.ru/hit?t44.12;r" + escape(d.referrer) +
                                ((typeof (s) == "undefined") ? "" : ";s" + s.width + "*" + s.height + "*" +
                                    (s.colorDepth ? s.colorDepth : s.pixelDepth)) + ";u" + escape(d.URL) +
                                ";h" + escape(d.title.substring(0, 150)) + ";" + Math.random()
                            })
                                (document, screen)</script><!--/LiveInternet-->
                        &copy; @DateTime.Now.Year.ToString() - КазНИИЖиК
                    </div>
                </div>
                <div class="col col-lg-2">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
            </div>

        </div>
    </footer>
</div>

@* layers *@
<script>
    var geoserver_url = '@ViewBag.GeoServerUrl',
        geoserver_workspace_name = 'Pastures2019';
    var HEREappId = 'SLdBasp4s1oq2oUbVGxy';
    var HEREappCode = 'D9-h9iVhjgUB_9eUlFETXA';

    var Source_OSM = new ol.source.OSM();
    Source_BingAerialWithLabels = new ol.source.BingMaps({
        key: 'AmYNYRGlIrw_kppWvrIhfzY1v046b4Ft5nopz6Av94XDvTTo8xTkHCEaZ_zMwCOJ',
        imagerySet: 'AerialWithLabels',
    });
    Source_BingRoadStatic = new ol.source.BingMaps({
        key: 'AmYNYRGlIrw_kppWvrIhfzY1v046b4Ft5nopz6Av94XDvTTo8xTkHCEaZ_zMwCOJ',
        imagerySet: 'Road',
    });
    Source_BingRoadDynamic = new ol.source.BingMaps({
        key: 'AmYNYRGlIrw_kppWvrIhfzY1v046b4Ft5nopz6Av94XDvTTo8xTkHCEaZ_zMwCOJ',
        imagerySet: 'RoadOnDemand',
    });
    var urlTpl = 'https://{1-4}.{base}.maps.cit.api.here.com' +
        '/{type}/2.1/maptile/newest/{scheme}/{z}/{x}/{y}/256/png' +
        '?app_id={app_id}&app_code={app_code}';
    function HEREcreateUrl(tpl, HERElayerDesc) {
        return tpl
            .replace('{base}', HERElayerDesc.base)
            .replace('{type}', HERElayerDesc.type)
            .replace('{scheme}', HERElayerDesc.scheme)
            .replace('{app_id}', HERElayerDesc.app_id)
            .replace('{app_code}', HERElayerDesc.app_code);
    };
    var HERElayerDescNormalDay = {
        base: 'base',
        type: 'maptile',
        scheme: 'normal.day',
        app_id: HEREappId,
        app_code: HEREappCode
    };
    var Source_HERENormalDay = new ol.source.XYZ({
        url: HEREcreateUrl(urlTpl, HERElayerDescNormalDay),
        attributions: 'Map Tiles &copy; ' + new Date().getFullYear() + ' ' +
            '<a href="http://developer.here.com">HERE</a>'
    });
    var HERElayerDescNormalDayTransit = {
        base: 'base',
        type: 'maptile',
        scheme: 'normal.day.transit',
        app_id: HEREappId,
        app_code: HEREappCode
    };
    var Source_HERENormalDayTransit = new ol.source.XYZ({
        url: HEREcreateUrl(urlTpl, HERElayerDescNormalDayTransit),
        attributions: 'Map Tiles &copy; ' + new Date().getFullYear() + ' ' +
            '<a href="http://developer.here.com">HERE</a>'
    });
    var HERElayerDescTerrainDay = {
        base: 'aerial',
        type: 'maptile',
        scheme: 'terrain.day',
        app_id: HEREappId,
        app_code: HEREappCode
    };
    var Source_HERETerrainDay = new ol.source.XYZ({
        url: HEREcreateUrl(urlTpl, HERElayerDescTerrainDay),
        attributions: 'Map Tiles &copy; ' + new Date().getFullYear() + ' ' +
            '<a href="http://developer.here.com">HERE</a>'
    });
    var HERElayerDescHybridDay = {
        base: 'aerial',
        type: 'maptile',
        scheme: 'hybrid.day',
        app_id: HEREappId,
        app_code: HEREappCode
    };
    var Source_HEREHybridDay = new ol.source.XYZ({
        url: HEREcreateUrl(urlTpl, HERElayerDescHybridDay),
        attributions: 'Разработка &copy;' + '<a href="http://kazniizhik.kz/">КазНИИЖиК</a>'+' & Map Tiles &copy; ' + new Date().getFullYear() + ' ' + '<a href="http://developer.here.com">HERE</a>'
    });
    var Source_StamenWatercolor = new ol.source.Stamen({
        layer: 'watercolor'
    });
    var Source_StamenTerrain = new ol.source.Stamen({
        layer: 'terrain'
    });
    var Source_StamenToner = new ol.source.Stamen({
        layer: 'toner'
    });
    var Source_ArcGIS = new ol.source.XYZ({
        attributions: 'Tiles © <a href="https://services.arcgisonline.com/ArcGIS/' +
            'rest/services/World_Topo_Map/MapServer">ArcGIS</a>',
        url: 'https://server.arcgisonline.com/ArcGIS/rest/services/' +
            'World_Topo_Map/MapServer/tile/{z}/{y}/{x}'
    });
    var Source_ThunderforestOpenCycleMap = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/cycle/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestTransport = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/transport/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestLandscape = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestOutdoors = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/outdoors/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestTransportDark = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/transport-dark/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestSpinalMap = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/spinal-map/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestPioneer = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/pioneer/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestMobileAtlas = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/mobile-atlas/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestNeighbourhood = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/neighbourhood/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Layer_Base = new ol.layer.Tile({
        source: Source_OSM
    });
    Layer_Base.set('name', 'Base');
    Layer_Base.setOpacity(1);

    var url_adm1pol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_adm1pol = new ol.source.TileWMS({
        url: url_adm1pol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':adm1pol'
        },
        serverType: 'geoserver'
    });
    var Layer_adm1pol = new ol.layer.Tile({
        source: Source_adm1pol
    });
    Layer_adm1pol.set('name', 'admxpol');
    Layer_adm1pol.setVisible(false);

    var url_adm2pol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_adm2pol = new ol.source.TileWMS({
        url: url_adm2pol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':adm2pol'
        },
        serverType: 'geoserver'
    });
    var Layer_adm2pol = new ol.layer.Tile({
        source: Source_adm2pol
    });
    Layer_adm2pol.set('name', 'admxpol');
    Layer_adm2pol.setVisible(false);

    var url_adm3pol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_adm3pol = new ol.source.TileWMS({
        url: url_adm3pol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':adm3pol'
        },
        serverType: 'geoserver'
    });
    var Layer_adm3pol = new ol.layer.Tile({
        source: Source_adm3pol
    });
    Layer_adm3pol.set('name', 'admxpol');
    Layer_adm3pol.setVisible(false);

    var Layer_admXpol_Navigate = new ol.layer.Vector({
        style: new ol.style.Style({
            fill: new ol.style.Fill({
                color: 'transparent'
            }),
            stroke: new ol.style.Stroke({
                color: 'red',
                width: 4
            })
        })
    });
    Layer_admXpol_Navigate.set('name', 'admxpolnavigate');

    var url_hdrlin = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_hdrlin = new ol.source.TileWMS({
        url: url_hdrlin,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':hdrlin'
        },
        serverType: 'geoserver'
    });
    var Layer_hdrlin = new ol.layer.Tile({
        source: Source_hdrlin,
        maxResolution: ol.tilegrid.createXYZ().getResolution(7)
    });
    Layer_hdrlin.set('name', 'hdr');

    var url_hdrpol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_hdrpol = new ol.source.TileWMS({
        url: url_hdrpol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':hdrpol'
        },
        serverType: 'geoserver'
    });
    var Layer_hdrpol = new ol.layer.Tile({
        source: Source_hdrpol
    });
    Layer_hdrpol.set('name', 'hdr');

    var url_poppnt = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_poppnt = new ol.source.TileWMS({
        url: url_poppnt,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':poppnt'
        },
        serverType: 'geoserver'
    });
    var Layer_poppnt = new ol.layer.Tile({
        source: Source_poppnt,
        maxResolution: ol.tilegrid.createXYZ().getResolution(9)
    });
    Layer_poppnt.set('name', 'pop');

    var url_poppol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_poppol = new ol.source.TileWMS({
        url: url_poppol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':poppol'
        },
        serverType: 'geoserver'
    });
    var Layer_poppol = new ol.layer.Tile({
        source: Source_poppol
    });
    Layer_poppol.set('name', 'pop');

    var url_rdslin = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_rdslin = new ol.source.TileWMS({
        url: url_rdslin,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':rdslin'
        },
        serverType: 'geoserver'
    });
    var Layer_rdslin = new ol.layer.Tile({
        source: Source_rdslin
    });
    Layer_rdslin.set('name', 'rdslin');

    var url_pasturepol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_pasturepol = new ol.source.TileWMS({
        url: url_pasturepol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':pasturepol'
        },
        serverType: 'geoserver'
    });
    var Layer_pasturepol = new ol.layer.Tile({
        source: Source_pasturepol
    });
    Layer_pasturepol.set('name', 'pasturepol');

    var Source_select_pasturepol = new ol.source.Vector({});
    var Layer_select_pasturepol = new ol.layer.Vector({
        source: Source_select_pasturepol,
        style: new ol.style.Style({
            fill: new ol.style.Fill({
                color: [0, 0, 255, 1]
            }),
            stroke: new ol.style.Stroke({
                color: 'red',
                width: 2
            })
        })
    });
    Layer_select_pasturepol.set('name', 'pasturepol');

    var url_found_pasturepol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_found_pasturepol = new ol.source.TileWMS({
        url: url_found_pasturepol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':pasturepol',
            'STYLES': 'pasturepolfind',
        },
        serverType: 'geoserver'
    });
    var Layer_found_pasturepol = new ol.layer.Tile({
        source: Source_found_pasturepol
    });
    var filter_found = "otdely_id = 'none'";
    var filterParams_found = {
        'FILTER': null,
        'CQL_FILTER': null,
        'FEATUREID': null
    };
    if (filter_found.replace(/^\s\s*/, '').replace(/\s\s*$/, '') != "") {
          filterParams_found["CQL_FILTER"] = filter_found;
        }
    Layer_found_pasturepol.getSource().updateParams(filterParams_found);
</script>

@* map *@
<script>
    // permalink
    var zoom = 5;
    var center = ol.proj.fromLonLat([66.902, 48.714]);
    var rotation = 0;
    if (window.location.hash !== '') {
        // try to restore center, zoom-level and rotation from the URL
        var hash = window.location.hash.replace('#map=', '');
        var parts = hash.split('/');
        if (parts.length === 4) {
            zoom = parseInt(parts[0], 10);
            center = [
                parseFloat(parts[1]),
                parseFloat(parts[2])
            ];
            rotation = parseFloat(parts[3]);
        }
    }

    var map = new ol.Map({
        target: 'map',
        controls: new ol.control.defaults({ attributionOptions: { collapsible: true } }).extend([
            new ol.control.ScaleLine()
        ]),
        layers: [
            Layer_Base,
            Layer_pasturepol,
            Layer_found_pasturepol,
            Layer_select_pasturepol,
            Layer_hdrlin,
            Layer_rdslin,
            Layer_adm1pol,
            Layer_adm2pol,
            Layer_adm3pol,
            Layer_poppol,
            Layer_poppnt,
            Layer_hdrpol
        ],
        view: new ol.View({
            center: center,
            zoom: 5,
            minZoom: 5,
            extent: [5028944.964937042, 4754994.655562972, 10214432.963802021, 7494497.74930296]
        })
    });

    // permalink
    var shouldUpdate = true;
    var view = map.getView();
    var updatePermalink = function () {
        if (!shouldUpdate) {
            // do not update the URL when the view was changed in the 'popstate' handler
            shouldUpdate = true;
            return;
        }
        var center = view.getCenter();
        var hash = '#map=' +
            view.getZoom() + '/' +
            Math.round(center[0] * 100) / 100 + '/' +
            Math.round(center[1] * 100) / 100 + '/' +
            view.getRotation();
        var state = {
            zoom: view.getZoom(),
            center: view.getCenter(),
            rotation: view.getRotation()
        };
        window.history.pushState(state, 'map', hash);
    };

    map.on('moveend', updatePermalink);

    window.addEventListener('popstate', function (event) {
        if (event.state === null) {
            return;
        }
        map.getView().setCenter(event.state.center);
        map.getView().setZoom(event.state.zoom);
        map.getView().setRotation(event.state.rotation);
        shouldUpdate = false;
    });

    function ToHome() {
        map.getView().fit([5028944.964937042, 4754994.655562972, 10214432.963802021, 7494497.74930296], map.getSize());

        filter_found = "otdely_id = 'none'";
        filterParams_found = {
            'FILTER': null,
            'CQL_FILTER': null,
            'FEATUREID': null
        };
        if (filter_found.replace(/^\s\s*/, '').replace(/\s\s*$/, '') != "") {
            filterParams_found["CQL_FILTER"] = filter_found;
        }
        Layer_found_pasturepol.getSource().updateParams(filterParams_found);
        Layer_found_pasturepol.getSource().refresh();

        Layer_select_pasturepol.getSource().clear();
        if (Layer_admXpol_Navigate.getSource()) {
            Layer_admXpol_Navigate.getSource().clear();
        }
    };
</script>

@* ChangeLayers *@
<script>
    function ChangeLayers() {
        map.getLayers().forEach(function (layer) {
            if (layer.get('name') == 'Base') {
                layer.setVisible(document.getElementById("layerBaseShow").checked);
                layer.setOpacity($('#layerBaseOpacity').val() / 100)
                if ($('#layerBaseType').val() == 'OSM') {
                    layer.setSource(Source_OSM);
                }
                else if ($('#layerBaseType').val() == 'BingAerialWithLabels') {
                    layer.setSource(Source_BingAerialWithLabels);
                }
                else if ($('#layerBaseType').val() == 'BingRoadStatic') {
                    layer.setSource(Source_BingRoadStatic);
                }
                else if ($('#layerBaseType').val() == 'BingRoadDynamic') {
                    layer.setSource(Source_BingRoadDynamic);
                }
                else if ($('#layerBaseType').val() == 'HERENormalDay') {
                    layer.setSource(Source_HERENormalDay);
                }
                else if ($('#layerBaseType').val() == 'HERENormalDayTransit') {
                    layer.setSource(Source_HERENormalDayTransit);
                }
                else if ($('#layerBaseType').val() == 'HERETerrainDay') {
                    layer.setSource(Source_HERETerrainDay);
                }
                else if ($('#layerBaseType').val() == 'HEREHybridDay') {
                    layer.setSource(Source_HEREHybridDay);
                }
                else if ($('#layerBaseType').val() == 'StamenWatercolor') {
                    layer.setSource(Source_StamenWatercolor);
                }
                else if ($('#layerBaseType').val() == 'StamenTerrain') {
                    layer.setSource(Source_StamenTerrain);
                }
                else if ($('#layerBaseType').val() == 'StamenToner') {
                    layer.setSource(Source_StamenToner);
                }
                else if ($('#layerBaseType').val() == 'ArcGIS') {
                    layer.setSource(Source_ArcGIS);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestOpenCycleMap') {
                    layer.setSource(Source_ThunderforestOpenCycleMap);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestTransport') {
                    layer.setSource(Source_ThunderforestTransport);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestLandscape') {
                    layer.setSource(Source_ThunderforestLandscape);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestOutdoors') {
                    layer.setSource(Source_ThunderforestOutdoors);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestTransportDark') {
                    layer.setSource(Source_ThunderforestTransportDark);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestSpinalMap') {
                    layer.setSource(Source_ThunderforestSpinalMap);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestPioneer') {
                    layer.setSource(Source_ThunderforestPioneer);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestMobileAtlas') {
                    layer.setSource(Source_ThunderforestMobileAtlas);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestNeighbourhood') {
                    layer.setSource(Source_ThunderforestNeighbourhood);
                }
            }
            if (layer.get('name') == 'admxpol') {
                layer.setVisible(document.getElementById("layeradmxpolShow").checked);
                layer.setOpacity($('#layeradmxpolOpacity').val() / 100);
            }
            if (layer.get('name') == 'hdr') {
                layer.setVisible(document.getElementById("layerhdrShow").checked);
                layer.setOpacity($('#layerhdrOpacity').val() / 100);
            }
            if (layer.get('name') == 'pop') {
                layer.setVisible(document.getElementById("layerpopShow").checked);
                layer.setOpacity($('#layerpopOpacity').val() / 100);
            }
            if (layer.get('name') == 'rdslin') {
                layer.setVisible(document.getElementById("layerrdslinShow").checked);
                layer.setOpacity($('#layerrdslinOpacity').val() / 100);
            }
            if (layer.get('name') == 'pasturepol') {
                layer.setVisible(document.getElementById("layerpasturepolShow").checked);
                layer.setOpacity($('#layerpasturepolOpacity').val() / 100);
            }
        })
    }
</script>

@* map.on('singleclick') *@
<script>
    var InfoMapModal;
    $(document).ready(function () {
        InfoMapModal = new jBox('Modal', {
            id: 'modal-info',
            maxWidth: 500,
            maxHeight: 400,
            title: 'My Modal',
            zIndex: 'auto',
            draggable: 'title',
            closeOnClick: false,
            closeButton: 'title',
            animation: 'zoomIn',
            overlay: false,
            onOpen: function () {
                this.setContent($('#InfoMap'));
                this.setTitle('<div class="text-white font-weight-bold">@SharedLocalizer["Information"]</div>');
            },
            onClose: function () {
                Source_select_pasturepol.clear();
            }
        });
    });
    map.on('singleclick', function (evt) {
        Source_select_pasturepol.clear();
        $('#valueVydel').text('');
        $('#valueOtdel').text('');
        $('#valuePClass').text('');
        $('#valueGroup').text('');
        $('#valueGroupLat').text('');
        $('#valueUr_v').text('');
        $('#valueKorm_v').text('');
        $('#valueUr_l').text('');
        $('#valueKorm_l').text('');
        $('#valueUr_o').text('');
        $('#valueKorm_o').text('');
        $('#valueUr_z').text('');
        $('#valueKorm_z').text('');
        $('#valueRecommendationForUse').text('');
        $('#valueRecomCattles').text('');

        var viewResolution = (map.getView().getResolution());
        var url_pasturepol = Source_pasturepol.getGetFeatureInfoUrl(
            evt.coordinate, viewResolution, 'EPSG:3857',
            {
                'INFO_FORMAT': 'text/javascript'
            });
        if (url_pasturepol) {
            jQuery.ajax({
                jsonp: false,
                jsonpCallback: 'getJson',
                type: 'GET',
                url: url_pasturepol + "&format_options=callback:getJson",
                async: false,
                dataType: 'jsonp',
                error: function () {
                }
            }).then(function (data) {
                if (Layer_pasturepol.getVisible() && data.features.length > 0) {
                    // select pasture
                    var polyFeature = new ol.Feature({
                        geometry: new ol.geom.MultiPolygon(data.features[0].geometry.coordinates)
                    });
                    Source_select_pasturepol.addFeature(polyFeature);
                    // data from pasturepol
                    var parser = new ol.format.GeoJSON();
                    var features = parser.readFeatures(data);
                    $.ajax({
                        url: '@Url.Action("GetPastureInfo")',
                        data: {
                            objectid: features[0].get('objectid')
                        },
                        type: 'POST',
                        success: function (dataDB) {
                            InfoMapModal.open();
                            $('#valueVydel').text(dataDB.pasturepol.group_id);
                            $('#valueOtdel').text(dataDB.pasturepol.otdel);
                            $('#valuePClass').text(dataDB.pasturepol.ptype);
                            $('#valueGroup').text(dataDB.pasturepol.group);
                            $('#valueGroupLat').text(dataDB.pasturepol.group_lat);
                            $('#valueUr_v').text(features[0].get('ur_v'));
                            $('#valueKorm_v').text(features[0].get('korm_v'));
                            $('#valueUr_l').text(features[0].get('ur_l'));
                            $('#valueKorm_l').text(features[0].get('korm_l'));
                            $('#valueUr_o').text(features[0].get('ur_o'));
                            $('#valueKorm_o').text(features[0].get('korm_o'));
                            $('#valueUr_z').text(features[0].get('ur_z'));
                            $('#valueKorm_z').text(features[0].get('korm_z'));
                            $('#valueRecommendationForUse').text(dataDB.pasturepol.recommend);
                            $('#valueRecomCattles').text(dataDB.pasturepol.recomcatt);
                        },
                        error: function () {
                        }
                    })
                }
            });
        }

    })
    // function for export table
    var $table = $('#InfoTableContent')
    var $excelbutton = $('#excelbutton')
    var $txtbutton = $('#txtbutton')
    $(function () {
        $excelbutton.click(function () {
            $('#InfoTableContent').tableExport({
                type: 'excel'
            });
        })
        $txtbutton.click(function () {
            $('#InfoTableContent').tableExport({
                type: 'txt'
            });
        })

    })
</script>

@* CATO *@
<script>
    var cato = new Array();
    @foreach (CATO cATO in ViewBag.CATO)
    {
        @:var cato_new = {};
        @:cato_new["te"] = '@cATO.TE';
        @:cato_new["ab"] = '@cATO.AB';
        @:cato_new["cd"] = '@cATO.CD';
        @:cato_new["ef"] = '@cATO.EF';
        @:cato_new["hij"] = '@cATO.HIJ';
        @:cato_new["name"] = '@Html.Raw(cATO.Name)';
        @:cato.push(cato_new);
    }
    $('#cato1').append($("<option />"));
    $('#catosearch1').append($("<option />"));
    $.each(cato, function () {
        if (this.cd == '00') {
            $('#cato1').append($("<option />").val(this.te).text(this.name));
            $('#catosearch1').append($("<option />").val(this.te).text(this.name));
        }
    });

    function ChangeCATO1() {
        NavigateToCATO($('#cato1').val(), 1);
        var ab = $('#cato1').val().substr(0, 2);
        $('#cato2').empty();
        $('#cato3').empty();
        $('#cato2').append($("<option />"));
        $.each(cato, function () {
            if (this.ef == '00' && this.ab == ab && this.cd != '00') {
                $('#cato2').append($("<option />").val(this.te).text(this.name));
            }
        });
    }

    function ChangeCATO2() {
        NavigateToCATO($('#cato2').val(), 2);
        var ab = $('#cato2').val().substr(0, 2),
            cd = $('#cato2').val().substr(2, 2);
        $('#cato3').empty();
        $('#cato3').append($("<option />"));
        $.each(cato, function () {
            if (this.hij == '000' && this.ab == ab && this.cd == cd && this.ef != '00') {
                $('#cato3').append($("<option />").val(this.te).text(this.name));
            }
        });
    }

    function ChangeCATO3() {
        NavigateToCATO($('#cato3').val(), 3);
    }

    function ChangeCATOsearch1() {
        NavigateToCATO($('#catosearch1').val(), 1);
        var ab = $('#catosearch1').val().substr(0, 2);
        $('#catosearch2').empty();
        $('#catosearch3').empty();
        $('#catosearch2').append($("<option />"));
        $.each(cato, function () {
            if (this.ef == '00' && this.ab == ab && this.cd != '00') {
                $('#catosearch2').append($("<option />").val(this.te).text(this.name));
            }
        });
    }

    function ChangeCATOsearch2() {
        NavigateToCATO($('#catosearch2').val(), 2);
        var ab = $('#catosearch2').val().substr(0, 2),
            cd = $('#catosearch2').val().substr(2, 2);
        $('#catosearch3').empty();
        $('#catosearch3').append($("<option />"));
        $.each(cato, function () {
            if (this.hij == '000' && this.ab == ab && this.cd == cd && this.ef != '00') {
                $('#catosearch3').append($("<option />").val(this.te).text(this.name));
            }
        });
    }

    function ChangeCATOsearch3() {
        NavigateToCATO($('#catosearch3').val(), 3);
    }

    var first_admXpol_Navigate = true;
    function NavigateToCATO(te, layer) {
        if (Layer_admXpol_Navigate.getSource() != null) {
            Layer_admXpol_Navigate.getSource().clear();
        }
        if (te == '') {
            return;
        }
        var filter = "kato_te = '" + te + "'";
        var filterParams = {
            'FILTER': null,
            'CQL_FILTER': null,
            'FEATUREID': null
        };
        if (filter.replace(/^\s\s*/, '').replace(/\s\s*$/, '') != "") {
            filterParams["CQL_FILTER"] = filter;
        }
        url_admXpol_Navigate = geoserver_url + geoserver_workspace_name + "/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=" + geoserver_workspace_name + ":adm" + layer.toString() + "pol&CQL_FILTER=" + filter + "&outputFormat=text/javascript&format_options=callback:getJson";
        $.ajax({
            jsonp: false,
            jsonpCallback: 'getJson',
            type: 'GET',
            url: url_admXpol_Navigate,
            async: false,
            dataType: 'jsonp',
            success: function (data_admXpol_Navigate) {
                var new_source = new ol.source.Vector({
                    features: (new ol.format.GeoJSON()).readFeatures(data_admXpol_Navigate, {
                        featureProjection: 'EPSG:3857'
                    })
                });
                Layer_admXpol_Navigate.setSource(new_source);
                map.getView().fit(Layer_admXpol_Navigate.getSource().getExtent());
                if (first_admXpol_Navigate) {
                    map.addLayer(Layer_admXpol_Navigate);
                    first_admXpol_Navigate = false;
                }
            }
        });
    }
</script>

@* FindPastures *@
<script>
    $(document).ready(function () {
        new jBox('Modal', {
            attach: '#FilterPastureBtn',
            width: 400,
            zIndex: 'auto',
            draggable: 'title',
            closeOnClick: false,
            closeButton: 'title',
            animation: 'slide',
            title: '@SharedLocalizer["PastureSearch"]',
            content: $('#FilterPasture'),
            overlay: false,
            position: {
                x: 'left',
                y: 'center'
            },
            offset: {
                x: 300
            },
        });
    });

    function FindPastures() {
        var otdely_id = $('#find_otdel').val(),
            class_id = $('#find_ptype').val(),
            group_id = $('#find_soob').val(),
            ur_v_from = $('#find_ur_v_from').val().replace(',', '.'),
            ur_v_to = $('#find_ur_v_to').val().replace(',', '.'),
            ur_l_from = $('#find_ur_l_from').val().replace(',', '.'),
            ur_l_to = $('#find_ur_l_to').val().replace(',', '.'),
            ur_o_from = $('#find_ur_o_from').val().replace(',', '.'),
            ur_o_to = $('#find_ur_o_to').val().replace(',', '.'),
            ur_z_from = $('#find_ur_z_from').val().replace(',', '.'),
            ur_z_to = $('#find_ur_z_to').val().replace(',', '.'),
            recommend = $('#find_recommend').val(),
            recomcattle = $('#find_recomcattle').val();
        filter_found = '';
        if (otdely_id != '') {
            if (filter_found.length == 0) {
                filter_found = "otdely_id = '" + otdely_id + "'";
            }
            else {
                filter_found += " && otdely_id = '" + otdely_id + "'";
            }
        }
        if (class_id != '') {
            if (filter_found.length == 0) {
                filter_found = "class_id = '" + class_id + "'";
            }
            else {
                filter_found += " && class_id = '" + class_id + "'";
            }
        }
        if (group_id != '') {
            if (filter_found.length == 0) {
                filter_found = "group_id = '" + group_id + "'";
            }
            else {
                filter_found += " && group_id = '" + group_id + "'";
            }
        }
        if (ur_v_from != '') {
            if (filter_found.length == 0) {
                filter_found = "ur_v >= " + ur_v_from + "";
            }
            else {
                filter_found += " && ur_v >= " + ur_v_from + "";
            }
        }
        if (ur_v_to != '') {
            if (filter_found.length == 0) {
                filter_found = "ur_v <= " + ur_v_to + "";
            }
            else {
                filter_found += " && ur_v <= " + ur_v_to + "";
            }
        }
        if (ur_l_from != '') {
            if (filter_found.length == 0) {
                filter_found = "ur_l >= " + ur_l_from + "";
            }
            else {
                filter_found += " && ur_l >= " + ur_l_from + "";
            }
        }
        if (ur_l_to != '') {
            if (filter_found.length == 0) {
                filter_found = "ur_l <= " + ur_l_to + "";
            }
            else {
                filter_found += " && ur_l <= " + ur_l_to + "";
            }
        }
        if (ur_o_from != '') {
            if (filter_found.length == 0) {
                filter_found = "ur_o >= " + ur_o_from + "";
            }
            else {
                filter_found += " && ur_o >= " + ur_o_from + "";
            }
        }
        if (ur_o_to != '') {
            if (filter_found.length == 0) {
                filter_found = "ur_o <= " + ur_o_to + "";
            }
            else {
                filter_found += " && ur_o <= " + ur_o_to + "";
            }
        }
        if (ur_z_from != '') {
            if (filter_found.length == 0) {
                filter_found = "ur_z >= " + ur_z_from + "";
            }
            else {
                filter_found += " && ur_z >= " + ur_z_from + "";
            }
        }
        if (ur_z_to != '') {
            if (filter_found.length == 0) {
                filter_found = "ur_z <= " + ur_z_to + "";
            }
            else {
                filter_found += " && ur_z <= " + ur_z_to + "";
            }
        }
        if (recommend != '') {
            if (filter_found.length == 0) {
                filter_found = "recommend_ = '" + recommend + "'";
            }
            else {
                filter_found += " && recommend_ = '" + recommend + "'";
            }
        }
        if (recomcattle != '') {
            if (filter_found.length == 0) {
                filter_found = "recom_catt = '" + recomcattle + "'";
            }
            else {
                filter_found += " && recom_catt = '" + recomcattle + "'";
            }
        }
        if (filter_found.length == 0) {
            filter_found = "otdely_id = 'none'";
        }
        filterParams_found = {
            'FILTER': null,
            'CQL_FILTER': null,
            'FEATUREID': null
        };
        if (filter_found.replace(/^\s\s*/, '').replace(/\s\s*$/, '') != "") {
            filterParams_found["CQL_FILTER"] = filter_found;
        }
        Layer_found_pasturepol.getSource().updateParams(filterParams_found);
        Layer_found_pasturepol.getSource().refresh();
    }
</script>

@* InfoCATO, ChartCATO, TableCATO *@
<script>
    var ctx = null;
    var chart = null;
    var InfoChartModal;
    function random_rgba() {
        var o = Math.round, r = Math.random, s = 255;
        return 'rgba(' + o(r() * s) + ',' + o(r() * s) + ',' + o(r() * s) + ',' + r().toFixed(1) + ')';
    }

    $(document).ready(function () {
        new jBox('Modal', {
            attach: '#FilterKATOBtn',
            width: 300,
            zIndex: 'auto',
            draggable: 'title',
            closeOnClick: false,
            closeButton: 'title',
            animation: 'slide',
            title: '@SharedLocalizer["FreeInformation"]',
            content: $('#FilterKato'),
            overlay: false,
            position: {
                x: 'left',
                y: 'center'
            },
            offset: {
                x: 300
            },
            onOpen: function () {
                this.setTitle('<div class="ajax-complete">@SharedLocalizer["FreeInformation"]</div>');
            },
        });
        $('#FilterChart').on('click', function () {
            InfoChartModal.open()
        });
    });
    $(document).ready(function () {
        InfoChartModal = new jBox('Modal', {
            id: 'modal-white',
            width: 600,
            maxHeight: 500,
            zIndex: 'auto',
            closeButton: 'title',
            animation: 'pulse',
            draggable: 'title',
            overlay: false,
            reload: 'strict',
            position: {
                x: 'right',
                y: 'top'
            },
            offset: {
                x: -10,
                y: 170
            },
            onOpen: function () {
                this.setContent($('#InfoKatoTabContent'));
                this.setTitle($('#InfoKatoTab'));
            },
        });
    });

    function InfoCATO() {
        var te = $('#cato3').val(),
            te1 = $('#cato1').val(),
            te2 = $('#cato2').val(),
            te3 = $('#cato3').val();
        if (te3 == '') {
            te = te2;
        }
        if (te2 == '') {
            te = te1;
        }
        $.ajax({
            url: '@Url.Action("GetCATOPastureInfo")',
            data: { catote: te },
            type: 'POST',
            success: function (data) {
                ChartCATO(data.pasturepols_otdels);
                TableCATO(data.pasturepols_classes);
            },
            error: function () {
            }
        });
    }
    function ChartCATO(pasturepols) {
        ctx = document.getElementById('chart').getContext('2d');
        var title = $('#cato1 option:selected').text();
        if ($('#cato2 option:selected').text() != '') {
            title += ', ' + $('#cato2 option:selected').text()
        }
        if ($('#cato3 option:selected').text() != '') {
            title += ', ' + $('#cato3 option:selected').text()
        }
        var config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [],
                    backgroundColor: [],
                    borderColor: '#002867',
                    borderWidth: 1,
                    label: 'Dataset 1'
                }],
                labels: []
            },
            options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                    align: 'start',
                    display: true,
                    labels: {
                        fontColor: 'rgb(0, 0, 0)'
                    }
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var meta = dataset._meta[Object.keys(dataset._meta)[0]];
                            var total = meta.total;
                            var currentValue = dataset.data[tooltipItem.index];
                            var percentage = parseFloat((currentValue / total * 100).toFixed(1));
                            return percentage + '%';
                        },
                        title: function (tooltipItem, data) {
                            return data.labels[tooltipItem[0].index];
                        }
                    }
                },
                title: {
                    display: true,
                    text:  title
                }
            }
        };
        for (var i = 0; i < pasturepols.length; ++i) {
            config.data.datasets[0].data.push(pasturepols[i].shape_area);
            config.data.datasets[0].backgroundColor.push(random_rgba());
            config.data.labels.push($("#find_otdel option[value=" + pasturepols[i].otdely_id + "]").text());
        }

        if (chart != null) {
            chart.destroy();
        }
        chart = new Chart(ctx, config);
    }
    function TableCATO(pasturepols) {
        var title = $('#cato1 option:selected').text();
        if ($('#cato2 option:selected').text() != '') {
            title += ', ' + $('#cato2 option:selected').text()
        }
        if ($('#cato3 option:selected').text() != '') {
            title += ', ' + $('#cato3 option:selected').text()
        }
        $('#table_info_ptype tr').remove();
        var content = '<tr><th colspan="2">' + title + '</th></tr>';
        for (var i = 0; i < pasturepols.length; ++i) {            
            content += '<tr>'+'<td>' + pasturepols[i].percent.toFixed(2) + "%"+'\t'+'</td>'
            + '<td>' + $("#find_ptype option[value=" + pasturepols[i].class_id + "]").text() + '</td>'+ '</tr>';
        }
        content += ""
        $('#table_info_ptype').append(content);
    }
    //add button to generate PDF
    function saveAsPDF() {
        html2canvas(document.getElementById("chart"), {
            onrendered: function (canvas) {
                // get size of report page
                var reportPageHeight = 380;
                var reportPageWidth = 430;
                var img = canvas.toDataURL(); //image data of canvas
                var doc = new jsPDF('a4', 'pt', [reportPageWidth, reportPageHeight]);
                doc.addImage(img, 10, 10);
                doc.save('test.pdf');
            }
        });
    }
    // function for export table
    var $table_ptype = $('#table_info_ptype')
    var $excel_ptype = $('#excel_ptype')
    var $txt_ptype = $('#txt_ptype')
    $(function () {
        $excel_ptype.click(function () {
            $('#table_info_ptype').tableExport({
                type: 'excel'
            });
        })
        $txt_ptype.click(function () {
            $('#table_info_ptype').tableExport({
                type: 'txt'
            });
        })

    })
</script>

@*Sidebar Menu*@
<script>
    jQuery(document).ready(function () {
        /* Sidebar */
        $('.dismiss, .overlay').on('click', function () {
            $('.sidebar').removeClass('active');
        });

        $('.open-menu').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').addClass('active');
            // close opened sub-menus
            $('.collapse.show').toggleClass('show');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
        /* change sidebar style */
        $('a.btn-customized-dark').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').removeClass('light');
        });
        $('a.btn-customized-light').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').addClass('light');
        });
    });
</script>

@*tooltips, modal windows*@
<script>
    $(document).ready(function () {
        // Map Title
        new jBox('Modal', {
            attach: '#MapTitleBtn',
            theme: 'TooltipBorder',
            width: 260,
            animation: 'flip',
            closeButton: false,
            position: {
                x: 'right',
                y: 'top'
            },
            offset: {
                x: -10,
                y: 70
            },
            content: (
                '<h5 class="Card-title text-center text-white">@SharedLocalizer["FodderResources"]</h5>' +
                '<p class="card-text text-center text-white">@SharedLocalizer["ForageLandsOfTheRepublicOfKazakhstan"]</p>'
            ),
            overlay: false,
        }).open();

        // Map Legend
        new jBox('Modal', {
            attach: '#LegendBtn2',
            theme: 'TooltipBorder',
            width: 500,
            maxHeight: 500,
            zIndex: 'auto',
            closeButton: true,
            overlay: false,
            reload: 'strict',
            animation: 'flip',
            adjustPosition: false,
            closeButton: true,
            position: {
                x: 'right',
                y: 'top'
            },
            offset: {
                x: -10,
                y: 300
            },
            onOpen: function () {
                this.setContent('<div class="p-0"><img id="legend" class="card-img-top" src="/images/Legends/pasturepol150.jpg"></div>');
            }
        }); 

        // Tooltip below to the right
        new jBox('Tooltip', {
            theme: 'TooltipDark',
            attach: '.SomeInfo',
            getTitle: 'InfoTitle',
            closeOnMouseleave: true,
            pointer: 'center:-20',
            maxWidth: 400,
            minWidth: 100,
            adjustPosition: true,
            adjustTracker: true
        });
    });
</script>

@*Word wrap options in a select list*@
<script>
    var optionText, array = [], newString, maxChar = 70;
    $('select').each(function () {
        $(this).find('option').each(function (i, e) {
            $(e).attr('title', $(e).text());
            optionText = $(e).text();
            newString = '';
            if (optionText.length > maxChar) {
                array = optionText.split(' ');
                $.each(array, function (ind, ele) {
                    newString += ele + ' ';
                    if (ind > 0 && newString.length > maxChar) {
                        $(e).text(newString);
                        return false;
                    }
                });
            }
        });
    });
</script>