@using Pastures2019.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["LandSupply"];
    Layout = "~/Views/Shared/_LayoutMap.cshtml";
}
@await Html.PartialAsync("_StylesTabAndShart")
<link href="~/lib/ol/ol.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/vendor/font-awesome/css/font-awesome.min.css" />
<script src="~/lib/ol/ol.js"></script>
<link href="~/lib/vendor/jBox/dist/jBox.all.css" rel="stylesheet" />
<script src="~/lib/vendor/jBox/dist/jBox.all.js"></script>
<link href="~/lib/сhart.js/dist/Chart.css" rel="stylesheet" />
<script src="~/lib/сhart.js/dist/Chart.js"></script>

<div class="container-fluid sticky-top p-0">
    <!-- Sidebar -->
    <nav class="sidebar border border-light overflow-auto">
        <div class="page-wrapper">
            <!-- close sidebar menu -->
            <div class="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>
            <div class="logo">
                <h3><a href="#">Pasture</a></h3>
            </div>
            <!-- Other sections -->
            <ul class="list-unstyled menu-elements">
                <li>
                    <a href="#TematicLayerSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="TematicLayerSections">
                        <i class="fa fa-list"></i>@SharedLocalizer["BaseLayers"]
                    </a>
                    <div id="TematicLayerSections" class="collapse show" aria-labelledby="headingOne" data-parent="#TematicLayerSections">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="layerpopShow" checked="checked" onchange="ChangeLayers()">
                                <label class="form-check-label" for="layerpopShow">
                                    @SharedLocalizer["popLayer"]
                                </label>
                                <input id="layerpopOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="layeradmxpolShow" onchange="ChangeLayers()">
                                <label class="form-check-label" for="layeradmxpolShow">
                                    @SharedLocalizer["admxpolLayer"]
                                </label>
                                <input id="layeradmxpolOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="layerhdrShow" checked="checked" onchange="ChangeLayers()">
                                <label class="form-check-label" for="layerhdrShow">
                                    @SharedLocalizer["hdrLayer"]
                                </label>
                                <input id="layerhdrOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="layerrdslinShow" checked="checked" onchange="ChangeLayers()">
                                <label class="form-check-label" for="layerrdslinShow">
                                    @SharedLocalizer["rdslinLayer"]
                                </label>
                                <input id="layerrdslinOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="layerzemfondpolShow" checked="checked" onchange="ChangeLayers()">
                                <label class="form-check-label" for="layerzemfondpolShow">
                                    @SharedLocalizer["zemfondpolLayer"]
                                </label>
                                <input id="layerzemfondpolOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#BaseLayerSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="BaseLayerSections">
                        <i class="fa fa-refresh"></i>@SharedLocalizer["BackgroundLayers"]
                    </a>
                    <div id="BaseLayerSections" class="collapse show" aria-labelledby="headingOne" data-parent="#BaseLayerSections">
                        <div class="card-body">
                            @*<label class="form-check-label" for="layerBaseShow">
                                    @SharedLocalizer["BaseLayer"]
                                </label>*@
                            <div class="input-group input-group-sm">
                                <select class="custom-select" id="layerBaseType" onchange="ChangeLayers()">
                                    <option value="OSM">OpenStreetMap</option>
                                    <option value="BingAerialWithLabels">Bing Aerial</option>
                                    <option value="BingRoadStatic">Bing Road (static)</option>
                                    <option value="BingRoadDynamic">Bing Road (dynamic)</option>
                                    <option value="HERENormalDay">HERE Normal Day</option>
                                    <option value="HERENormalDayTransit">HERE Normal Day Transit</option>
                                    <option value="HERETerrainDay">HERE Terrain Day</option>
                                    <option value="HEREHybridDay" selected>HERE Hybrid Day</option>
                                    <option value="StamenWatercolor">Stamen Watercolor</option>
                                    <option value="StamenTerrain">Stamen Terrain</option>
                                    <option value="StamenToner">Stamen Toner</option>
                                    <option value="ArcGIS">ArcGIS</option>
                                    <option value="ThunderforestOpenCycleMap">Thunderforest OpenCycleMap</option>
                                    <option value="ThunderforestTransport">Thunderforest Transport</option>
                                    <option value="ThunderforestLandscape">Thunderforest Landscape</option>
                                    <option value="ThunderforestOutdoors">Thunderforest Outdoors</option>
                                    <option value="ThunderforestSpinalMap">Thunderforest Spinal Map</option>
                                    <option value="ThunderforestPioneer">Thunderforest Pioneer</option>
                                    <option value="ThunderforestMobileAtlas">Thunderforest Mobile Atlas</option>
                                    <option value="ThunderforestNeighbourhood">Thunderforest Neighbourhood</option>
                                </select>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input type="checkbox" id="layerBaseShow" checked="checked" onchange="ChangeLayers()">
                                    </div>
                                </div>
                            </div>
                            <input id="layerBaseOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                        </div>
                    </div>
                </li>
            </ul>
            <!-- Exaple 1 -->
            <div class="card-body">
                <div class="col-md-12" style="display: none" id="FilterZemfond">
                    <form>
                        <div class="form-group m-0">
                            <label for="SType">@SharedLocalizer["SType"]</label>
                            <select class="form-control form-control-sm" id="find_stype" asp-items="@((IEnumerable<SelectListItem>)ViewBag.SType)" name="SType" value=""><option value=""></option></select>
                        </div>
                        <div class="form-group m-0">
                            <label for="DominantType">@SharedLocalizer["DominantType"]</label>
                            <select class="form-control form-control-sm" id="find_dominanttype" asp-items="@((IEnumerable<SelectListItem>)ViewBag.DominantType)" name="DominantType" value=""><option value=""></option></select>
                        </div>
                        <table class="table table-borderless table-sm mt-2">
                            <tbody>
                                <tr>
                                    <td scope="row">Среднегодовая урожайность, ц/га</td>
                                    <td><input class="form-control form-control-sm" id="find_ur_avgyear_from" type="text" /></td>
                                    <td>-</td>
                                    <td><input class="form-control form-control-sm" id="find_ur_avgyear_to" type="text" /></td>
                                </tr>
                                <tr>
                                    <td scope="row">Среднегодовая урожайность, ц/га</td>
                                    <td><input class="form-control form-control-sm" id="find_ur_avgyear_from" type="text" /></td>
                                    <td>-</td>
                                    <td><input class="form-control form-control-sm" id="find_ur_avgyear_to" type="text" /></td>
                                </tr>
                                <tr>
                                    <td scope="row">Средний кормозапас, ц</td>
                                    <td><input class="form-control form-control-sm" id="find_korm_avgye_from" type="text" /></td>
                                    <td>-</td>
                                    <td><input class="form-control form-control-sm" id="find_korm_avgye_to" type="text" /></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group m-0">
                            <label for="SupplyRecommend">@SharedLocalizer["SupplyRecommend"]</label>
                            <select class="form-control form-control-sm" id="find_supplyrecommend" asp-items="@((IEnumerable<SelectListItem>)ViewBag.SupplyRecommend)" name="SupplyRecommend" value=""><option value=""></option></select>
                        </div>
                        <input class="btn btn-warning btn-block mt-3" type="button" value="@SharedLocalizer["Find"]" onclick="FindPastures()" />
                    </form>
                </div>
                <div class="col-md-12" style="display: none" id="FilterKato">
                    <form>
                        <div class="form-group m-0">
                            <label for="cato1" class="col-sm-2 col-form-label col-form-label-sm">@SharedLocalizer["Areas"]</label>
                            <select class="form-control form-control-sm" id="cato1" onchange="ChangeCATO1()"></select>
                        </div>
                        <div class="form-group m-0">
                            <label for="cato2" class="col-sm-2 col-form-label col-form-label-sm">@SharedLocalizer["Districts"]</label>
                            <select class="form-control form-control-sm" id="cato2" onchange="ChangeCATO2()"></select>
                        </div>
                        <input id="FilterChart" class="btn btn-warning btn-block mt-3" type="button" value="@SharedLocalizer["Information"]" onclick="InfoCATO()" />
                    </form>
                </div>
                <div class="m-0" style="display: none" id="ZemFondChart">
                    <nav>
                        <div class="nav nav-tabs m-0 p-0" id="navZemFond" role="tablist">
                            <a class="nav-item nav-link active" id="ZemFondUr-tab" data-toggle="tab" href="#ZemFondUr" role="tab" aria-controls="ZemFondUr" aria-selected="true">Урожайность</a>
                            <a class="nav-item nav-link" id="ZemFondStr-tab" data-toggle="tab" href="#ZemFondStr" role="tab" aria-controls="ZemFondStr" aria-selected="false">Структура</a>
                            <a class="nav-item nav-link" id="ZemFondRec-tab" data-toggle="tab" href="#ZemFondRec" role="tab" aria-controls="ZemFondRec" aria-selected="false">Рекомендации</a>
                        </div>
                    </nav>
                    <div class="tab-content text-white" id="navZemFondContent">
                        <div class="tab-pane fade show active" id="ZemFondUr" role="tabpanel" aria-labelledby="ZemFondUr-tab">
                            <h5 class="card-title text-center">Урожайность, кормозапас</h5>
                            <table class="table table-borderless table-sm">
                                <tbody class="text-white-50">
                                    <tr>
                                        <th scope="row">@SharedLocalizer["AverageAnnualProductivitykgha"]</th>
                                        <td id="ur_avgyear"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">@SharedLocalizer["AverageFeedStockc"]</th>
                                        <td id="korm_avgye"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="ZemFondStr" role="tabpanel" aria-labelledby="ZemFondStr-tab">
                            <h5 class="card-title text-center">Структура земель</h5>
                            <canvas id="chart1" width="400" height="380"></canvas>
                            <button id="download-pdf" onclick="saveAsPDF();" type="button" class="btn btn-primary btn-sm float-right">PDF</button>
                        </div>
                        <div class="tab-pane fade" id="ZemFondRec" role="tabpanel" aria-labelledby="ZemFondRec-tab">
                            <h5 class="card-title text-center">Рекомендации по сезонам</h5>
                            <canvas id="chart2" width="400" height="380"></canvas>
                        </div>
                    </div>
                </div>
                <div class="modal-white table-responsive-sm" style="display: none" id="InfoMap">
                    <table class="table table-striped table-hover table-sm small" id="InfoTableContent2">
                        <tbody>
                            <tr>
                                <th class="modal-white" scope="row" id="infoZType">@SharedLocalizer["ZType"]</th>
                                <td class="font-italic" colspan="2" id="valueZType"></td>
                            </tr>
                            <tr>
                                <th class="modal-white" scope="row" id="infoDominantType">@SharedLocalizer["DominantType"]</th>
                                <td class="font-italic" colspan="2" id="valueDominantType"></td>
                            </tr>
                            <tr>
                                <th class="modal-white" scope="row" id="infoAverageAnnualProductivitykgha">@SharedLocalizer["AverageAnnualProductivitykgha"]</th>
                                <td class="font-italic" colspan="2" id="valueUr_avgyear"></td>
                            </tr>
                            <tr>
                                <th class="modal-white" scope="row" id="infoAverageFeedStockc">@SharedLocalizer["AverageFeedStockc"]</th>
                                <td class="font-italic" colspan="2" id="valueKorm_avgye"></td>
                            </tr>
                            <tr>
                                <th class="modal-white" scope="row" id="infoRecommend">@SharedLocalizer["Recommend"]</th>
                                <td class="font-italic" colspan="2" id="valueRecommend"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-group float-right" role="group">
                        <button id="btnGroupDownload" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @SharedLocalizer["Download"]
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDownload">
                            <a class="dropdown-item" href="#" role="button" id="excelbutton"><i class="fa fa-file-excel-o"></i>Excel</a>
                            <a class="dropdown-item" href="#" role="button" id="pdfbutton"><i class="fa fa-file-pdf-o"></i>PDF</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Exaple 1 -->
            <div class="dark-light-buttons">
                <a class="btn btn-primary btn-customized-4 btn-customized-dark" href="#" role="button">Dark</a>
                <a class="btn btn-primary btn-customized-4 btn-customized-light" href="#" role="button">Light</a>
            </div>

        </div>
        <div class="chiller-theme">
            <div class="sidebar-footer">
                <a asp-area="" asp-controller="Home" asp-action="About">
                    <i class="SomeInfo fa fa-file" InfoTitle="@SharedLocalizer["About"]"></i>
                </a>
                <a asp-area="" asp-controller="Home" asp-action="Instruction">
                    <i class="SomeInfo fa fa-film" InfoTitle="@SharedLocalizer["Instruction"]"></i>
                </a>
                <a href="#" id="LegendBtn" class="target-click">
                    <i class="SomeInfo fa fa-list-alt" InfoTitle="@SharedLocalizer["Legend"]"></i>
                </a>
                <a href="#" id="MapTitleBtn" class="target-click">
                    <i class="SomeInfo fa fa-bookmark" InfoTitle="@SharedLocalizer["LayerInfo"]"></i>
                </a>
            </div>
        </div>
    </nav>
    <!-- End sidebar -->
    <!-- Content -->
    <div class="content">
        <!-- open sidebar menu -->
        <a class="btn btn-light btn-customized open-menu" href="#" role="button">
            <i class="fa fa-align-left"></i> <span>@SharedLocalizer["Menu"]</span>
        </a>
        <!-- Map content -->
        <div id="map" class="position-fixed col-md-12 ml-sm-auto col-lg-12 p-0" style="height: calc(100% - 100px);"></div>
    </div>
    <!-- End content -->
    <footer class="footer-classic fixed-bottom border-top border-light">
        <div class="container-fluid">
            <div class="row align-items-center m-1">
                <div class="col">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button id="FilterKATOBtn" type="button" class="btn btn-outline-primary btn-sm"><i class="SomeInfo fa fa-pie-chart" InfoTitle="@SharedLocalizer["FreeInformation"]"></i></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button id="FilterZemfondBtn" type="button" class="btn btn-outline-primary btn-sm"><i class="SomeInfo fa fa-binoculars" InfoTitle="@SharedLocalizer["PastureSearch"]"></i></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                            <button id="HomeBtn" type="button" class="btn btn-outline-primary btn-sm"><i class="SomeInfo fa fa-home" InfoTitle="@SharedLocalizer["ToHome"]" onclick="ToHome()"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="float-right">
                        &copy; @DateTime.Now.Year.ToString() - КазНИИЖиК @*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
                    </div>
                </div>
                <div class="col col-lg-2">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
            </div>

        </div>
    </footer>
</div>

@* layers *@
<script>
    var geoserver_url = '@ViewBag.GeoServerUrl', //'http://89.250.84.186:8080/geoserver/',
        geoserver_workspace_name = 'Pastures2019';
    var HEREappId = 'SLdBasp4s1oq2oUbVGxy';
    var HEREappCode = 'D9-h9iVhjgUB_9eUlFETXA';

    var Source_OSM = new ol.source.OSM();
    Source_BingAerialWithLabels = new ol.source.BingMaps({
        key: 'AmYNYRGlIrw_kppWvrIhfzY1v046b4Ft5nopz6Av94XDvTTo8xTkHCEaZ_zMwCOJ',
        imagerySet: 'AerialWithLabels',
    });
    Source_BingRoadStatic = new ol.source.BingMaps({
        key: 'AmYNYRGlIrw_kppWvrIhfzY1v046b4Ft5nopz6Av94XDvTTo8xTkHCEaZ_zMwCOJ',
        imagerySet: 'Road',
    });
    Source_BingRoadDynamic = new ol.source.BingMaps({
        key: 'AmYNYRGlIrw_kppWvrIhfzY1v046b4Ft5nopz6Av94XDvTTo8xTkHCEaZ_zMwCOJ',
        imagerySet: 'RoadOnDemand',
    });
    var urlTpl = 'https://{1-4}.{base}.maps.cit.api.here.com' +
        '/{type}/2.1/maptile/newest/{scheme}/{z}/{x}/{y}/256/png' +
        '?app_id={app_id}&app_code={app_code}';
    function HEREcreateUrl(tpl, HERElayerDesc) {
        return tpl
            .replace('{base}', HERElayerDesc.base)
            .replace('{type}', HERElayerDesc.type)
            .replace('{scheme}', HERElayerDesc.scheme)
            .replace('{app_id}', HERElayerDesc.app_id)
            .replace('{app_code}', HERElayerDesc.app_code);
    };
    var HERElayerDescNormalDay = {
        base: 'base',
        type: 'maptile',
        scheme: 'normal.day',
        app_id: HEREappId,
        app_code: HEREappCode
    };
    var Source_HERENormalDay = new ol.source.XYZ({
        url: HEREcreateUrl(urlTpl, HERElayerDescNormalDay),
        attributions: 'Map Tiles &copy; ' + new Date().getFullYear() + ' ' +
            '<a href="http://developer.here.com">HERE</a>'
    });
    var HERElayerDescNormalDayTransit = {
        base: 'base',
        type: 'maptile',
        scheme: 'normal.day.transit',
        app_id: HEREappId,
        app_code: HEREappCode
    };
    var Source_HERENormalDayTransit = new ol.source.XYZ({
        url: HEREcreateUrl(urlTpl, HERElayerDescNormalDayTransit),
        attributions: 'Map Tiles &copy; ' + new Date().getFullYear() + ' ' +
            '<a href="http://developer.here.com">HERE</a>'
    });
    var HERElayerDescTerrainDay = {
        base: 'aerial',
        type: 'maptile',
        scheme: 'terrain.day',
        app_id: HEREappId,
        app_code: HEREappCode
    };
    var Source_HERETerrainDay = new ol.source.XYZ({
        url: HEREcreateUrl(urlTpl, HERElayerDescTerrainDay),
        attributions: 'Map Tiles &copy; ' + new Date().getFullYear() + ' ' +
            '<a href="http://developer.here.com">HERE</a>'
    });
    var HERElayerDescHybridDay = {
        base: 'aerial',
        type: 'maptile',
        scheme: 'hybrid.day',
        app_id: HEREappId,
        app_code: HEREappCode
    };
    var Source_HEREHybridDay = new ol.source.XYZ({
        url: HEREcreateUrl(urlTpl, HERElayerDescHybridDay),
        attributions: 'Map Tiles &copy; ' + new Date().getFullYear() + ' ' + '<a href="http://developer.here.com">HERE</a>'
    });
    var Source_StamenWatercolor = new ol.source.Stamen({
        layer: 'watercolor'
    });
    var Source_StamenTerrain = new ol.source.Stamen({
        layer: 'terrain'
    });
    var Source_StamenToner = new ol.source.Stamen({
        layer: 'toner'
    });
    var Source_ArcGIS = new ol.source.XYZ({
        attributions: 'Tiles © <a href="https://services.arcgisonline.com/ArcGIS/' +
            'rest/services/World_Topo_Map/MapServer">ArcGIS</a>',
        url: 'https://server.arcgisonline.com/ArcGIS/rest/services/' +
            'World_Topo_Map/MapServer/tile/{z}/{y}/{x}'
    });
    var Source_ThunderforestOpenCycleMap = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/cycle/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestTransport = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/transport/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestLandscape = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestOutdoors = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/outdoors/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestTransportDark = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/transport-dark/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestSpinalMap = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/spinal-map/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestPioneer = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/pioneer/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestMobileAtlas = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/mobile-atlas/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestNeighbourhood = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/neighbourhood/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Layer_Base = new ol.layer.Tile({
        source: Source_HEREHybridDay
    });
    Layer_Base.set('name', 'Base');
    Layer_Base.setOpacity(1);

    var url_adm1pol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_adm1pol = new ol.source.TileWMS({
        url: url_adm1pol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':adm1pol'
        },
        serverType: 'geoserver'
    });
    var Layer_adm1pol = new ol.layer.Tile({
        source: Source_adm1pol
    });
    Layer_adm1pol.set('name', 'admxpol');

    var url_adm2pol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_adm2pol = new ol.source.TileWMS({
        url: url_adm2pol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':adm2pol'
        },
        serverType: 'geoserver'
    });
    var Layer_adm2pol = new ol.layer.Tile({
        source: Source_adm2pol
    });
    Layer_adm2pol.set('name', 'admxpol');

    var Layer_admXpol_Navigate = new ol.layer.Vector({
        style: new ol.style.Style({
            fill: new ol.style.Fill({
                color: 'transparent'
            }),
            stroke: new ol.style.Stroke({
                color: 'red',
                width: 4
            })
        })
    });
    Layer_admXpol_Navigate.set('name', 'admxpolnavigate');

    var url_hdrlin = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_hdrlin = new ol.source.TileWMS({
        url: url_hdrlin,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':hdrlin'
        },
        serverType: 'geoserver'
    });
    var Layer_hdrlin = new ol.layer.Tile({
        source: Source_hdrlin,
        maxResolution: ol.tilegrid.createXYZ().getResolution(7)
    });
    Layer_hdrlin.set('name', 'hdr');

    var url_hdrpol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_hdrpol = new ol.source.TileWMS({
        url: url_hdrpol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':hdrpol'
        },
        serverType: 'geoserver'
    });
    var Layer_hdrpol = new ol.layer.Tile({
        source: Source_hdrpol
    });
    Layer_hdrpol.set('name', 'hdr');

    var url_poppnt = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_poppnt = new ol.source.TileWMS({
        url: url_poppnt,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':poppnt'
        },
        serverType: 'geoserver'
    });
    var Layer_poppnt = new ol.layer.Tile({
        source: Source_poppnt,
        maxResolution: ol.tilegrid.createXYZ().getResolution(9)
    });
    Layer_poppnt.set('name', 'pop');

    var url_poppol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_poppol = new ol.source.TileWMS({
        url: url_poppol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':poppol'
        },
        serverType: 'geoserver'
    });
    var Layer_poppol = new ol.layer.Tile({
        source: Source_poppol
    });
    Layer_poppol.set('name', 'pop');

    var url_rdslin = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_rdslin = new ol.source.TileWMS({
        url: url_rdslin,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':rdslin'
        },
        serverType: 'geoserver'
    });
    var Layer_rdslin = new ol.layer.Tile({
        source: Source_rdslin
    });
    Layer_rdslin.set('name', 'rdslin');

    var url_zemfondpol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_zemfondpol = new ol.source.TileWMS({
        url: url_zemfondpol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':zemfondpol'
        },
        serverType: 'geoserver'
    });
    var Layer_zemfondpol = new ol.layer.Tile({
        source: Source_zemfondpol
    });
    Layer_zemfondpol.set('name', 'zemfondpol');

    var Source_select_zemfondpol = new ol.source.Vector({});
    var Layer_select_zemfondpol = new ol.layer.Vector({
        source: Source_select_zemfondpol,
        style: new ol.style.Style({
            fill: new ol.style.Fill({
                color: [0, 0, 255, 1]
            }),
            stroke: new ol.style.Stroke({
                color: 'red',
                width: 2
            })
        })
    });
    Layer_select_zemfondpol.set('name', 'zemfondpol');

    var url_found_zemfondpol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_found_zemfondpol = new ol.source.TileWMS({
        url: url_found_zemfondpol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':zemfondpol',
            'STYLES': 'zemfondpolfind',
        },
        serverType: 'geoserver'
    });
    var Layer_found_zemfondpol = new ol.layer.Tile({
        source: Source_found_zemfondpol
    });
    var filter_found = "type_k = 'none'";
    var filterParams_found = {
        'FILTER': null,
        'CQL_FILTER': null,
        'FEATUREID': null
    };
    if (filter_found.replace(/^\s\s*/, '').replace(/\s\s*$/, '') != "") {
          filterParams_found["CQL_FILTER"] = filter_found;
        }
    Layer_found_zemfondpol.getSource().updateParams(filterParams_found);
</script>

@* map *@
<script>
    // permalink
    var zoom = 5;
    var center = ol.proj.fromLonLat([66.902, 48.714]);
    var rotation = 0;
    if (window.location.hash !== '') {
        // try to restore center, zoom-level and rotation from the URL
        var hash = window.location.hash.replace('#map=', '');
        var parts = hash.split('/');
        if (parts.length === 4) {
            zoom = parseInt(parts[0], 10);
            center = [
                parseFloat(parts[1]),
                parseFloat(parts[2])
            ];
            rotation = parseFloat(parts[3]);
        }
    }

    var map = new ol.Map({
        target: 'map',
        controls: new ol.control.defaults({ attributionOptions: { collapsible: true } }).extend([
            new ol.control.ScaleLine()
        ]),
        layers: [
            Layer_Base,
            Layer_zemfondpol,
            Layer_found_zemfondpol,
            Layer_select_zemfondpol,
            Layer_hdrlin,
            Layer_rdslin,
            Layer_adm1pol,
            Layer_adm2pol,
            Layer_poppol,
            Layer_poppnt,
            Layer_hdrpol
        ],
        view: new ol.View({
            center: center,
            zoom: 5,
            minZoom: 5,
            extent: [5028944.964937042, 4754994.655562972, 10214432.963802021, 7494497.74930296]
        })
    });

    // permalink
    var shouldUpdate = true;
    var view = map.getView();
    var updatePermalink = function () {
        if (!shouldUpdate) {
            // do not update the URL when the view was changed in the 'popstate' handler
            shouldUpdate = true;
            return;
        }
        var center = view.getCenter();
        var hash = '#map=' +
            view.getZoom() + '/' +
            Math.round(center[0] * 100) / 100 + '/' +
            Math.round(center[1] * 100) / 100 + '/' +
            view.getRotation();
        var state = {
            zoom: view.getZoom(),
            center: view.getCenter(),
            rotation: view.getRotation()
        };
        window.history.pushState(state, 'map', hash);
    };

    map.on('moveend', updatePermalink);

    window.addEventListener('popstate', function (event) {
        if (event.state === null) {
            return;
        }
        map.getView().setCenter(event.state.center);
        map.getView().setZoom(event.state.zoom);
        map.getView().setRotation(event.state.rotation);
        shouldUpdate = false;
    });
    function ToHome() {
        map.getView().fit([5028944.964937042, 4754994.655562972, 10214432.963802021, 7494497.74930296], map.getSize());

        filter_found = "otdely_id = 'none'";
        filterParams_found = {
            'FILTER': null,
            'CQL_FILTER': null,
            'FEATUREID': null
        };
        if (filter_found.replace(/^\s\s*/, '').replace(/\s\s*$/, '') != "") {
            filterParams_found["CQL_FILTER"] = filter_found;
        }
        Layer_found_pasturepol.getSource().updateParams(filterParams_found);
        Layer_found_pasturepol.getSource().refresh();

        Layer_select_pasturepol.getSource().clear();
        if (Layer_admXpol_Navigate.getSource()) {
            Layer_admXpol_Navigate.getSource().clear();
        }
    };
</script>

@* ChangeLayers *@
<script>
    function ChangeLayers() {
        map.getLayers().forEach(function (layer) {
            if (layer.get('name') == 'Base') {
                layer.setVisible(document.getElementById("layerBaseShow").checked);
                layer.setOpacity($('#layerBaseOpacity').val() / 100)
                if ($('#layerBaseType').val() == 'OSM') {
                    layer.setSource(Source_OSM);
                }
                else if ($('#layerBaseType').val() == 'BingAerialWithLabels') {
                    layer.setSource(Source_BingAerialWithLabels);
                }
                else if ($('#layerBaseType').val() == 'BingRoadStatic') {
                    layer.setSource(Source_BingRoadStatic);
                }
                else if ($('#layerBaseType').val() == 'BingRoadDynamic') {
                    layer.setSource(Source_BingRoadDynamic);
                }
                else if ($('#layerBaseType').val() == 'HERENormalDay') {
                    layer.setSource(Source_HERENormalDay);
                }
                else if ($('#layerBaseType').val() == 'HERENormalDayTransit') {
                    layer.setSource(Source_HERENormalDayTransit);
                }
                else if ($('#layerBaseType').val() == 'HERETerrainDay') {
                    layer.setSource(Source_HERETerrainDay);
                }
                else if ($('#layerBaseType').val() == 'HEREHybridDay') {
                    layer.setSource(Source_HEREHybridDay);
                }
                else if ($('#layerBaseType').val() == 'StamenWatercolor') {
                    layer.setSource(Source_StamenWatercolor);
                }
                else if ($('#layerBaseType').val() == 'StamenTerrain') {
                    layer.setSource(Source_StamenTerrain);
                }
                else if ($('#layerBaseType').val() == 'StamenToner') {
                    layer.setSource(Source_StamenToner);
                }
                else if ($('#layerBaseType').val() == 'ArcGIS') {
                    layer.setSource(Source_ArcGIS);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestOpenCycleMap') {
                    layer.setSource(Source_ThunderforestOpenCycleMap);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestTransport') {
                    layer.setSource(Source_ThunderforestTransport);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestLandscape') {
                    layer.setSource(Source_ThunderforestLandscape);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestOutdoors') {
                    layer.setSource(Source_ThunderforestOutdoors);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestTransportDark') {
                    layer.setSource(Source_ThunderforestTransportDark);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestSpinalMap') {
                    layer.setSource(Source_ThunderforestSpinalMap);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestPioneer') {
                    layer.setSource(Source_ThunderforestPioneer);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestMobileAtlas') {
                    layer.setSource(Source_ThunderforestMobileAtlas);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestNeighbourhood') {
                    layer.setSource(Source_ThunderforestNeighbourhood);
                }
            }
            if (layer.get('name') == 'admxpol') {
                layer.setVisible(document.getElementById("layeradmxpolShow").checked);
                layer.setOpacity($('#layeradmxpolOpacity').val() / 100);
            }
            if (layer.get('name') == 'hdr') {
                layer.setVisible(document.getElementById("layerhdrShow").checked);
                layer.setOpacity($('#layerhdrOpacity').val() / 100);
            }
            if (layer.get('name') == 'pop') {
                layer.setVisible(document.getElementById("layerpopShow").checked);
                layer.setOpacity($('#layerpopOpacity').val() / 100);
            }
            if (layer.get('name') == 'rdslin') {
                layer.setVisible(document.getElementById("layerrdslinShow").checked);
                layer.setOpacity($('#layerrdslinOpacity').val() / 100);
            }
            if (layer.get('name') == 'zemfondpol') {
                layer.setVisible(document.getElementById("layerzemfondpolShow").checked);
                layer.setOpacity($('#layerzemfondpolOpacity').val() / 100);
            }
        })
    }
</script>

@* map.on('singleclick') *@
<script>
    var InfoMapModal;
    $(document).ready(function () {
        InfoMapModal = new jBox('Modal', {
            id: 'modal-white',
            maxWidth: 500,
            maxHeight: 400,
            adjustTracker: 'scroll',
            title: 'My Modal',
            zIndex: 'auto',
            draggable: 'title',
            closeOnClick: false,
            closeButton: 'title',
            animation: 'zoomIn',
            overlay: false,
            onOpen: function () {
                // Add t
                this.setContent($('#InfoMap'));
                this.setTitle('<div class="text-white font-weight-bold">@SharedLocalizer["Information"]</div>');
            },
        });
    });
    map.on('singleclick', function (evt) {
        Source_select_zemfondpol.clear();
        $('#valueZType').text('');
        $('#valueDominantType').text('');
        $('#valueRecommend').text('');
        var viewResolution = (map.getView().getResolution());
        var url_zemfondpol = Source_zemfondpol.getGetFeatureInfoUrl(
            evt.coordinate, viewResolution, 'EPSG:3857',
            {
                'INFO_FORMAT': 'text/javascript'
            });
        if (url_zemfondpol) {
            jQuery.ajax({
                jsonp: false,
                jsonpCallback: 'getJson',
                type: 'GET',
                url: url_zemfondpol + "&format_options=callback:getJson",
                async: false,
                dataType: 'jsonp',
                error: function () {
                }
            }).then(function (data) {
                if (Layer_zemfondpol.getVisible() && data.features.length > 0) {
                    // select pasture
                    var polyFeature = new ol.Feature({
                        geometry: new ol.geom.MultiPolygon(data.features[0].geometry.coordinates)
                    });
                    Source_select_zemfondpol.addFeature(polyFeature);
                    // data from zemfondpol
                    var parser = new ol.format.GeoJSON();
                    var features = parser.readFeatures(data);
                    $('#valueUr_avgyear').text(features[0].get('ur_avgyear'));
                    $('#valueKorm_avgye').text(features[0].get('korm_avgye'));
                    @*console.log('@Html.Raw(SharedLocalizer["AverageAnnualProductivitykgha"]): ' + features[0].get('ur_avgyear').toFixed(2));
                    console.log('@Html.Raw(SharedLocalizer["AverageFeedStockc"]): ' + features[0].get('korm_avgye').toFixed(2));*@
                    $.ajax({
                        url: '@Url.Action("GetZemfondInfo")',
                        data: {
                            objectid: features[0].get('objectid')
                        },
                        type: 'POST',
                        success: function (dataDB) {
                            InfoMapModal.open();
                            $('#valueZType').text(dataDB.zemfondpol.stype);
                            $('#valueDominantType').text(dataDB.zemfondpol.dominanttype);
                            $('#valueRecommend').text(dataDB.zemfondpol.supplyrecommend);
                        },
                        error: function () {
                        }
                    })
                }
            });
        }
    })
    // function for export table
    var $table = $('#InfoTableContent')
    var $excelbutton = $('#excelbutton')
    var $pdfbutton = $('#pdfbutton') 
    $(function () {
        $excelbutton.click(function () {
            $('#InfoTableContent').tableExport({ type: 'excel' });
        })
        $pdfbutton.click(function () {
            $('#InfoTableContent').tableExport({
                type: 'pdf',
                jspdf: {
                    orientation: 'p',
                    format: 'a4',
                    margins: { left: 10, right: 10, top: 20, bottom: 20 },
                    autotable: {
                        styles: {
                            fillColor: 'inherit',
                            textColor: 'inherit'
                        },
                        tableWidth: 'wrap',
                    }
                }
            });
        })
    })
</script>

@* CATO *@
<script>
    var cato = new Array();
    @foreach (CATO cATO in ViewBag.CATO)
    {
        @:var cato_new = {};
        @:cato_new["te"] = '@cATO.TE';
        @:cato_new["ab"] = '@cATO.AB';
        @:cato_new["cd"] = '@cATO.CD';
        @:cato_new["ef"] = '@cATO.EF';
        @:cato_new["hij"] = '@cATO.HIJ';
        @:cato_new["name"] = '@Html.Raw(cATO.Name)';
        @:cato.push(cato_new);
    }
    $('#cato1').append($("<option />"));
    $.each(cato, function () {
        if (this.cd == '00') {
            $('#cato1').append($("<option />").val(this.te).text(this.name));
        }
    });

    function ChangeCATO1() {
        NavigateToCATO($('#cato1').val(), 1);
        var ab = $('#cato1').val().substr(0, 2);
        $('#cato2').empty();
        $('#cato3').empty();
        $('#cato2').append($("<option />"));
        $.each(cato, function () {
            if (this.ef == '00' && this.ab == ab && this.cd != '00') {
                $('#cato2').append($("<option />").val(this.te).text(this.name));
            }
        });
    }

    function ChangeCATO2() {
        NavigateToCATO($('#cato2').val(), 2);
    }

    var first_admXpol_Navigate = true;
    function NavigateToCATO(te, layer) {
        if (Layer_admXpol_Navigate.getSource() != null) {
            Layer_admXpol_Navigate.getSource().clear();
        }
        if (te == '') {
            return;
        }
        var filter = "kato_te = '" + te + "'";
        var filterParams = {
            'FILTER': null,
            'CQL_FILTER': null,
            'FEATUREID': null
        };
        if (filter.replace(/^\s\s*/, '').replace(/\s\s*$/, '') != "") {
            filterParams["CQL_FILTER"] = filter;
        }
        url_admXpol_Navigate = geoserver_url + geoserver_workspace_name + "/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=" + geoserver_workspace_name + ":adm" + layer.toString() + "pol&CQL_FILTER=" + filter + "&outputFormat=text/javascript&format_options=callback:getJson";
        $.ajax({
            jsonp: false,
            jsonpCallback: 'getJson',
            type: 'GET',
            url: url_admXpol_Navigate,
            async: false,
            dataType: 'jsonp',
            success: function (data_admXpol_Navigate) {
                var new_source = new ol.source.Vector({
                    features: (new ol.format.GeoJSON()).readFeatures(data_admXpol_Navigate, {
                        featureProjection: 'EPSG:3857'
                    })
                });
                Layer_admXpol_Navigate.setSource(new_source);
                map.getView().fit(Layer_admXpol_Navigate.getSource().getExtent());
                if (first_admXpol_Navigate) {
                    map.addLayer(Layer_admXpol_Navigate);
                    first_admXpol_Navigate = false;
                }
            }
        });
    }
</script>

@* FindPastures *@
<script>
    $(document).ready(function () {
        new jBox('Modal', {
            attach: '#FilterZemfondBtn',
            width: 400,
            responsiveHeight: true,
            zIndex: 'auto',
            draggable: 'title',
            closeOnClick: false,
            closeButton: 'title',
            animation: 'slide',
            title: 'Поиск пастбищ',
            content: $('#FilterZemfond'),
            overlay: false
        });
    });
    function FindPastures() {
        var type_k = $('#find_stype').val(),
            dominant_t = $('#find_dominanttype').val(),
            s_recomend = $('#find_supplyrecommend').val(),
            ur_avgyear_from = $('#find_ur_avgyear_from').val().replace(',', '.'),
            ur_avgyear_to = $('#find_ur_avgyear_to').val().replace(',', '.'),
            korm_avgye_from = $('#find_korm_avgye_from').val().replace(',', '.'),
            korm_avgye_to = $('#find_korm_avgye_to').val().replace(',', '.');
        filter_found = '';
        if (type_k != '') {
            if (filter_found.length == 0) {
                filter_found = "type_k = '" + type_k + "'";
            }
            else {
                filter_found += " && type_k = '" + type_k + "'";
            }
        }
        if (dominant_t != '') {
            if (filter_found.length == 0) {
                filter_found = "dominant_t = '" + dominant_t + "'";
            }
            else {
                filter_found += " && dominant_t = '" + dominant_t + "'";
            }
        }
        if (s_recomend != '') {
            if (filter_found.length == 0) {
                filter_found = "s_recomend = '" + s_recomend + "'";
            }
            else {
                filter_found += " && s_recomend = '" + s_recomend + "'";
            }
        }
        if (ur_avgyear_from != '') {
            if (filter_found.length == 0) {
                filter_found = "ur_avgyear >= " + ur_avgyear_from + "";
            }
            else {
                filter_found += " && ur_avgyear >= " + ur_avgyear_from + "";
            }
        }
        if (ur_avgyear_to != '') {
            if (filter_found.length == 0) {
                filter_found = "ur_avgyear <= " + ur_avgyear_to + "";
            }
            else {
                filter_found += " && ur_avgyear <= " + ur_avgyear_to + "";
            }
        }
        if (korm_avgye_from != '') {
            if (filter_found.length == 0) {
                filter_found = "korm_avgye >= " + korm_avgye_from + "";
            }
            else {
                filter_found += " && korm_avgye >= " + korm_avgye_from + "";
            }
        }
        if (korm_avgye_to != '') {
            if (filter_found.length == 0) {
                filter_found = "korm_avgye <= " + korm_avgye_to + "";
            }
            else {
                filter_found += " && korm_avgye <= " + korm_avgye_to + "";
            }
        }
        if (filter_found.length == 0) {
            filter_found = "type_k = 'none'";
        }
        filterParams_found = {
            'FILTER': null,
            'CQL_FILTER': null,
            'FEATUREID': null
        };
        if (filter_found.replace(/^\s\s*/, '').replace(/\s\s*$/, '') != "") {
            filterParams_found["CQL_FILTER"] = filter_found;
        }
        Layer_found_zemfondpol.getSource().updateParams(filterParams_found);
        Layer_found_zemfondpol.getSource().refresh();
    }
</script>

@* InfoCATO, ChartCATO, TableCATO *@
<script>
    var InfoChartModal;
    var chart1 = null,
        chart2 = null;

    function random_rgba() {
        var o = Math.round, r = Math.random, s = 255;
        return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + r().toFixed(1) + ')';
    }
    $(document).ready(function () {
        new jBox('Modal', {
            attach: '#FilterKATOBtn',
            width: 300,
            zIndex: 'auto',
            draggable: 'title',
            closeOnClick: false,
            closeButton: 'title',
            animation: 'slide',
            title: 'Сводная информация',
            content: $('#FilterKato'),
            overlay: false
        });
        $('#FilterChart').on('click', function () {
            InfoChartModal.open()
        });
    });
    $(document).ready(function () {
        InfoChartModal = new jBox('Modal', {
            responsiveWidth: true,
            responsiveHeight: true,
            blockScroll: false,
            zIndex: 'auto',
            closeButton: 'title',
            animation: 'pulse',
            draggable: 'title',
            overlay: false,
            position: {
                x: 'right',
                y: 'top'
            },
            offset: {
                x: -10,
                y: 170
            },
            repositionOnOpen: true,
            onOpen: function () {
                // Add t
                this.setTitle($('#navZemFond'));
                this.setContent($('#navZemFondContent'));
            },
        });
    });

    function InfoCATO() {
        var te = $('#cato3').val(),
            te1 = $('#cato1').val(),
            te2 = $('#cato2').val(),
            te3 = $('#cato3').val();
        if (te3 == '') {
            te = te2;
        }
        if (te2 == '') {
            te = te1;
        }
        $.ajax({
            url: '@Url.Action("GetCATOZemfondInfo")',
            data: { catote: te },
            type: 'POST',
            success: function (data) {
                ChartCATO1(data.zemfondpols_stypes);
                ChartCATO2(data.zemfondpols_supplyrecommends);
                TableCATO(data.zemfondpol);
            },
            error: function () {
            }
        });
    }

    function ChartCATO1(zemfondpols) {
        var ctx1 = document.getElementById('chart1').getContext('2d');
        var config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [],
                    backgroundColor: [],
                    borderColor: '#002867',
                    borderWidth: 1,
                    label: 'Dataset 1'
                }],
                labels: []
            },
            options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                    align: 'middle',
                    display: true,
                    labels: {
                        fontColor: 'rgb(255, 255, 255)'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                //max: 100,
                                callback: function (value) {
                                    return value + "%"
                                }
                            },
                            scaleLabel: {
                                display: true
                                //labelString: "Percentage"
                            }
                        }]
                    }
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var meta = dataset._meta[Object.keys(dataset._meta)[0]];
                            var total = meta.total;
                            var currentValue = dataset.data[tooltipItem.index];
                            var percentage = parseFloat((currentValue / total * 100).toFixed(1));
                            return percentage + '%';
                        },
                        title: function (tooltipItem, data) {
                            return data.labels[tooltipItem[0].index];
                        }
                    }
                }
            }
        };
        for (var i = 0; i < zemfondpols.length; ++i) {
            config.data.datasets[0].data.push(zemfondpols[i].shape_area);
            config.data.datasets[0].backgroundColor.push(random_rgba());
            config.data.labels.push($("#find_stype option[value=" + zemfondpols[i].type_k + "]").text());
        }

        if (chart1 != null) {
            chart1.destroy();
        }
        chart1 = new Chart(ctx1, config);
    }

    function ChartCATO2(zemfondpols) {
        var ctx2 = document.getElementById('chart2').getContext('2d');
        var config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [],
                    backgroundColor: [],
                    borderColor: '#002867',
                    borderWidth: 1,
                    label: 'Dataset 1'
                }],
                labels: []
            },
            options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                    align: 'start',
                    display: false,
                    labels: {
                        fontColor: 'rgb(255, 255, 255)'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                //max: 100,
                                callback: function (value) {
                                    return value + "%"
                                }
                            },
                            scaleLabel: {
                                display: true
                                //labelString: "Percentage"
                            }
                        }]
                    }
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var meta = dataset._meta[Object.keys(dataset._meta)[0]];
                            var total = meta.total;
                            var currentValue = dataset.data[tooltipItem.index];
                            var percentage = parseFloat((currentValue / total * 100).toFixed(1));
                            return percentage + '%';
                        },
                        title: function (tooltipItem, data) {
                            return data.labels[tooltipItem[0].index];
                        }
                    }
                }
            }
        };
        for (var i = 0; i < zemfondpols.length; ++i) {
            config.data.datasets[0].data.push(zemfondpols[i].shape_area);
            config.data.datasets[0].backgroundColor.push(random_rgba());
            config.data.labels.push($("#find_supplyrecommend option[value=" + zemfondpols[i].s_recomend + "]").text());
        }

        if (chart2 != null) {
            chart2.destroy();
        }
        chart2 = new Chart(ctx2, config);
    }

    function TableCATO(zemfondpol) {
        $('#ur_avgyear').text(zemfondpol.ur_avgyear.toFixed(2));
        $('#korm_avgye').text(zemfondpol.korm_avgye.toFixed(2));
    }
    //add button to generate PDF
    function saveAsPDF() {
        html2canvas(document.getElementById("chart1"), {
            onrendered: function (canvas) {
                // get size of report page
                var reportPageHeight = 300;
                var reportPageWidth = 380;
                var img = canvas.toDataURL(); //image data of canvas
                var doc = new jsPDF('a4', 'pt', [reportPageWidth, reportPageHeight]);
                doc.addImage(img, 10, 10);
                doc.save('test.pdf');
            }
        });
    }
</script>

@*Sidebar Menu*@
<script>
    jQuery(document).ready(function () {
        /*
            Sidebar
        */
        $('.dismiss, .overlay').on('click', function () {
            $('.sidebar').removeClass('active');
        });

        $('.open-menu').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').addClass('active');
            // close opened sub-menus
            $('.collapse.show').toggleClass('show');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
        /* change sidebar style */
        $('a.btn-customized-dark').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').removeClass('light');
        });
        $('a.btn-customized-light').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').addClass('light');
        });


    });
</script>

@*tooltips, modal windows*@
<script>
    $(document).ready(function () {
        // Map Title
        new jBox('Modal', {
            attach: '#MapTitleBtn',
            theme: 'TooltipBorder',
            width: 260,
            blockScroll: false,
            animation: 'flip',
            closeButton: false,
            position: {
                x: 'right',
                y: 'top'
            },
            offset: {
                x: -10,
                y: 70
            },
            content: (
                '<h5 class="Card-title text-center text-white">@SharedLocalizer["LandSupply"]</h5>' +
                '<p class="card-text text-center text-white">Пастбища на землях запаса</p>'
            ),
            overlay: false,
            reposition: true,
            repositionOnOpen: false
        }).open();
        // Map Legend
        new jBox('Modal', {
            attach: '#LegendBtn',
            theme: 'TooltipBorder',
            width: 500,
            maxHeight: 600,
            responsiveHeight: true,
            blockScroll: false,
            animation: 'flip',
            closeButton: 'box',
            position: {
                x: 'right',
                y: 'bottom'
            },
            offset: {
                x: -10,
                y: -60
            },
            content: '<div class="p-0"><img id="legend" class="card-img-top" src="/images/Legends/pasturepol150.jpg"></div>',
            overlay: false,
            reposition: true,
        });
        // Tooltip below to the right
        new jBox('Tooltip', {
            theme: 'TooltipDark',
            attach: '.SomeInfo',
            getTitle: 'InfoTitle',
            closeOnMouseleave: true,
            pointer: 'center:-20',
            maxWidth: 400,
            minWidth: 100,
            adjustPosition: true,
            adjustTracker: true
        });
    });
</script>