@using Pastures2019.Controllers
@{
    ViewData["Title"] = "Modis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/ol/ol.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/vendor/font-awesome/css/font-awesome.min.css" />
<script src="~/lib/ol/ol.js"></script>
<link href="~/lib/vendor/jBox/dist/jBox.all.css" rel="stylesheet" />
<script src="~/lib/vendor/jBox/dist/jBox.all.js"></script>
@{
    YearDay[] yearDays_MOLT_MOD13Q1006 = ViewBag.YearDays_MOLT_MOD13Q1006;
    string maxYear_MOLT_MOD13Q1006 = yearDays_MOLT_MOD13Q1006.Max(y => y.year),
        maxDay_MOLT_MOD13Q1006 = yearDays_MOLT_MOD13Q1006.Where(y => y.year == maxYear_MOLT_MOD13Q1006).Max(y => y.day);

    YearDay[] yearDays_MOLA_MYD13Q1006 = ViewBag.YearDays_MOLA_MYD13Q1006;
    string maxYear_MOLA_MYD13Q1006 = yearDays_MOLA_MYD13Q1006.Max(y => y.year),
        maxDay_MOLA_MYD13Q1006 = yearDays_MOLA_MYD13Q1006.Where(y => y.year == maxYear_MOLA_MYD13Q1006).Max(y => y.day);
}
<div class="container-fluid sticky-top p-0">
    <!-- Sidebar -->
    <nav class="sidebar border border-light">
        <div class="page-wrapper chiller-theme">
            <!-- close sidebar menu -->
            <div class="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>
            <div class="logo">
                <h3>Pasture</h3>
            </div>
            <div class="col">
                <form>
                    <div class="form-group mt-1 mb-0">
                        <label class="m-0" for="SourceProduct">Satellite</label>
                        <select class="w-100" id="SourceProduct" onchange="ChangeSourceProduct()">
                            <option value="MOLT_MOD13Q1006">Terra MODIS 16-day</option>
                            <option value="MOLA_MYD13Q1006">Aqua MODIS 16-day</option>
                        </select>
                    </div>
                    <div class="form-group mt-1 mb-0">
                        <label class="m-0" for="DataSet">DataSet</label>
                        <select class="w-100" id="DataSet" onchange="ChangeDataSet()">
                            <option value="NDVI">NDVI</option>
                            <option value="Anomaly">NDVI Anomaly %</option>
                        </select>
                    </div>
                    <div class="form-group mt-1 mb-1 MOLT_MOD13Q1006">
                        <label class="m-0" for="Year_MOLT_MOD13Q1006">Year</label>
                        <select class="w-100" id="Year_MOLT_MOD13Q1006" onchange="ChangeYear()">
                            @foreach (string year in yearDays_MOLT_MOD13Q1006.Select(y => y.year).Distinct().OrderBy(y => y))
                            {
                                if (year == maxYear_MOLT_MOD13Q1006)
                                {
                                    <option value="@year" selected>@year</option>
                                }
                                else
                                {
                                    <option value="@year">@year</option>
                                }
                            }
                        </select>
                    </div>
                    @*<label class="m-0" for="DayOfYear_MOLT_MOD13Q1006">Start DOY : MM/DD Range</label>*@
                    <div class="form-check MOLT_MOD13Q1006 form-check-inline w-100">
                        <div class="input-group-prepend">
                            <button class="btn btn-sm" id="minus-btn"><i class="fa fa-minus"></i></button>
                        </div>
                        <select class="w-100" id="DayOfYear_MOLT_MOD13Q1006" aria-describedby="DayHelpBlock" onchange="ChangeModis()">
                            @foreach (string day in yearDays_MOLT_MOD13Q1006.Where(y => y.year == maxYear_MOLT_MOD13Q1006).Select(y => y.day).Distinct().OrderBy(y => y))
                            {
                                if (day == maxDay_MOLT_MOD13Q1006)
                                {
                                    <option value="@day" selected>@day</option>
                                }
                                else
                                {
                                    <option value="@day">@day</option>
                                }
                            }
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-sm" id="plus-btn"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    @*<small id="DayHelpBlock" class="form-text">
                            Exsample 017 : 01/17 - 01/24
                        </small>*@

                    <div class="form-group MOLA_MYD13Q1006" style="display: none;">
                        <label for="Year_MOLA_MYD13Q1006">Year</label>
                        <select class="form-control form-control-sm" id="Year_MOLA_MYD13Q1006" onchange="ChangeYear()">
                            @foreach (string year in yearDays_MOLA_MYD13Q1006.Select(y => y.year).Distinct().OrderBy(y => y))
                            {
                                if (year == maxYear_MOLA_MYD13Q1006)
                                {
                                    <option value="@year" selected>@year</option>
                                }
                                else
                                {
                                    <option value="@year">@year</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-check MOLA_MYD13Q1006 form-check-inline w-100" style="display: none;">
                        @*<label for="DayOfYear_MOLA_MYD13Q1006">Start DOY : MM/DD Range</label>*@
                        <div class="input-group-prepend">
                            <button class="btn btn-sm" id="minus-btn"><i class="fa fa-minus"></i></button>
                        </div>
                        <select class="w-100" id="DayOfYear_MOLA_MYD13Q1006" onchange="ChangeModis()">
                            @foreach (string day in yearDays_MOLA_MYD13Q1006.Where(y => y.year == maxYear_MOLA_MYD13Q1006).Select(y => y.day).Distinct().OrderBy(y => y))
                            {
                                if (day == maxDay_MOLA_MYD13Q1006)
                                {
                                    <option value="@day" selected>@day</option>
                                }
                                else
                                {
                                    <option value="@day">@day</option>
                                }
                            }
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-sm" id="plus-btn"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Exaple 1 -->
            <div class="treeextent scrollbar-deep-purple bordered-deep-purple thin">
                <div class="card-body">
                    Base Map
                </div>
            </div>
            <!-- Exaple 1 -->
            <div class="dark-light-buttons">
                <a class="btn btn-primary btn-customized-4 btn-customized-dark" href="#" role="button">Dark</a>
                <a class="btn btn-primary btn-customized-4 btn-customized-light" href="#" role="button">Light</a>
            </div>
            <div class="sidebar-footer">
                <a href="#">
                    <i class="SomeInfo fa fa-file" InfoTitle="Tooltip on top"></i>
                </a>
                <a href="#" OnClick="Charts()" id="ChartsButton" value="Выделять" onclick="Charts()">
                    <i class="SomeInfo fa fa-bar-chart-o" InfoTitle="Для построение Графика, сначало выберите объект на карте (ВХБ или БХУ)"></i>
                    <span id="chartSpan" class="badge badge-pill badge-warning notification">0</span>
                </a>
                <a href="#" id="LegendBtn" class="target-click">
                    <i class="SomeInfo fa fa-list-alt" InfoTitle="Легенда"></i>
                </a>
                <a href="#" id="MapTitleBtn" class="target-click">
                    <i class="SomeInfo fa fa-bookmark" InfoTitle="Информация о слое"></i>
                </a>
            </div>
        </div>
    </nav>
    <!-- End sidebar -->
    <!-- Content -->
    <div class="content">
        <!-- open sidebar menu -->
        <a class="btn btn-light btn-customized open-menu" href="#" role="button">
            <i class="fa fa-align-left"></i> <span>Menu</span>
        </a>
        <!-- Map content -->
        <div id="map" class="position-fixed col-md-12 ml-sm-auto col-lg-12 p-0" style="height: calc(100% - 100px);"></div>
    </div>
    <!-- End content -->
</div>

@* layers *@
<script>
    var geoserver_url = '@ViewBag.GeoServerUrl', //'http://89.250.84.186:8080/geoserver/',
        geoserver_workspace_name = '@ViewBag.ModisWorkspace', //'MODIS',
        layerModisTemplate1 = '@ViewBag.ModisLayerTemplate1', //'A',
        layerModisTemplate_MOLT_MOD13Q1006_B01_NDVI = '@ViewBag.ModisLayerTemplate_MOLT_MOD13Q1006_B01_NDVI',
        layerModisTemplate_MOLT_MOD13Q1006_B01_NDVI_Anomaly = '@ViewBag.ModisLayerTemplate_MOLT_MOD13Q1006_B01_NDVI_Anomaly',
        layerModisTemplate_MOLA_MYD13Q1006_B01_NDVI = '@ViewBag.ModisLayerTemplate_MOLA_MYD13Q1006_B01_NDVI',
        layerModisTemplate_MOLA_MYD13Q1006_B01_NDVI_Anomaly = '@ViewBag.ModisLayerTemplate_MOLA_MYD13Q1006_B01_NDVI_Anomaly';
    var layerNDVI = layerModisTemplate1 + $('#Year_MOLT_MOD13Q1006').val() + $('#DayOfYear_MOLT_MOD13Q1006').val() + layerModisTemplate_MOLT_MOD13Q1006_B01_NDVI,
        layerAnomaly = layerModisTemplate1 + $('#Year_MOLT_MOD13Q1006').val() + $('#DayOfYear_MOLT_MOD13Q1006').val() + layerModisTemplate_MOLT_MOD13Q1006_B01_NDVI_Anomaly;

    var Source_OSM = new ol.source.OSM();
    var Layer_Base = new ol.layer.Tile({
        source: Source_OSM
    });
    Layer_Base.set('name', 'Base');
    Layer_Base.setOpacity(0.80);

    var url_NDVI = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_NDVI = new ol.source.TileWMS({
        url: url_NDVI,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':' + layerNDVI
        },
        serverType: 'geoserver'
    });
    var Layer_NDVI = new ol.layer.Tile({
        source: Source_NDVI
    });
    Layer_NDVI.set('name', 'NDVI');
    Layer_NDVI.setOpacity(0.80);

    var url_Anomaly = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_Anomaly = new ol.source.TileWMS({
        url: url_Anomaly,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':' + layerAnomaly
        },
        serverType: 'geoserver'
    });
    var Layer_Anomaly = new ol.layer.Tile({
        source: Source_Anomaly
    });
    Layer_Anomaly.set('name', 'Anomaly');
    Layer_Anomaly.setVisible(false);
    Layer_Anomaly.setOpacity(0.80);
</script>

@* map *@
<script>
    var map = new ol.Map({
        target: 'map',
        controls: new ol.control.defaults({ attributionOptions: { collapsible: true } }).extend([
            new ol.control.ScaleLine()
        ]),
        layers: [
            Layer_Base,
            Layer_NDVI,
            Layer_Anomaly
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([66.902, 48.714]),
            zoom: 5,
            minZoom: 5,
            extent: [5028944.964937042, 4754994.655562972, 10214432.963802021, 7494497.74930296]
        })
    });
</script>

<script>
    function ChangeSourceProduct() {
        if ($('#SourceProduct').val() == 'MOLT_MOD13Q1006') {
            $('.MOLT_MOD13Q1006').show();
            $('.MOLA_MYD13Q1006').hide();
        }
        else if ($('#SourceProduct').val() == 'MOLA_MYD13Q1006') {
            $('.MOLA_MYD13Q1006').show();
            $('.MOLT_MOD13Q1006').hide();
        }
        ChangeModis();
    }

    function ChangeDataSet() {
        if ($('#DataSet').val() == 'NDVI') {
            Layer_NDVI.setVisible(true);
            Layer_Anomaly.setVisible(false);
        }
        else if ($('#DataSet').val() == 'Anomaly') {
            Layer_NDVI.setVisible(false);
            Layer_Anomaly.setVisible(true);
        }
    }

    function ChangeYear() {
        // MOLT_MOD13Q1006
        $('#DayOfYear_MOLT_MOD13Q1006').html('');
        var maxday_MOLT_MOD13Q1006 = '001';
        for (i = 0; i < yeardays_MOLT_MOD13Q1006.length; i++) {
            if (yeardays_MOLT_MOD13Q1006[i].year == $('#Year_MOLT_MOD13Q1006').val().toString()) {
                if (parseInt(yeardays_MOLT_MOD13Q1006[i].day) > parseInt(maxday_MOLT_MOD13Q1006)) {
                    maxday_MOLT_MOD13Q1006 = yeardays_MOLT_MOD13Q1006[i].day;
                }
            }
        }
        for (i = 0; i < yeardays_MOLT_MOD13Q1006.length; i++) {
            if (yeardays_MOLT_MOD13Q1006[i].year == $('#Year_MOLT_MOD13Q1006').val().toString()) {
                if (yeardays_MOLT_MOD13Q1006[i].day == maxday_MOLT_MOD13Q1006) {
                    $('#DayOfYear_MOLT_MOD13Q1006').append($('<option selected />').val(yeardays_MOLT_MOD13Q1006[i].day).text(yeardays_MOLT_MOD13Q1006[i].day));
                }
                else {
                    $('#DayOfYear_MOLT_MOD13Q1006').append($('<option />').val(yeardays_MOLT_MOD13Q1006[i].day).text(yeardays_MOLT_MOD13Q1006[i].day));
                }
            }
        }

        // MOLA_MYD13Q1006
        $('#DayOfYear_MOLA_MYD13Q1006').html('');
        var maxday_MOLA_MYD13Q1006 = '001';
        for (i = 0; i < yeardays_MOLA_MYD13Q1006.length; i++) {
            if (yeardays_MOLA_MYD13Q1006[i].year == $('#Year_MOLA_MYD13Q1006').val().toString()) {
                if (parseInt(yeardays_MOLA_MYD13Q1006[i].day) > parseInt(maxday_MOLA_MYD13Q1006)) {
                    maxday_MOLA_MYD13Q1006 = yeardays_MOLA_MYD13Q1006[i].day;
                }
            }
        }
        for (i = 0; i < yeardays_MOLA_MYD13Q1006.length; i++) {
            if (yeardays_MOLA_MYD13Q1006[i].year == $('#Year_MOLA_MYD13Q1006').val().toString()) {
                if (yeardays_MOLA_MYD13Q1006[i].day == maxday_MOLA_MYD13Q1006) {
                    $('#DayOfYear_MOLA_MYD13Q1006').append($('<option selected />').val(yeardays_MOLA_MYD13Q1006[i].day).text(yeardays_MOLA_MYD13Q1006[i].day));
                }
                else {
                    $('#DayOfYear_MOLA_MYD13Q1006').append($('<option />').val(yeardays_MOLA_MYD13Q1006[i].day).text(yeardays_MOLA_MYD13Q1006[i].day));
                }
            }
        }
        ChangeModis();
    }

    function ChangeModis() {
        if ($('#SourceProduct').val() == 'MOLT_MOD13Q1006') {
            layerNDVI = layerModisTemplate1 + $('#Year_MOLT_MOD13Q1006').val() + $('#DayOfYear_MOLT_MOD13Q1006').val() + layerModisTemplate_MOLT_MOD13Q1006_B01_NDVI;
            Source_NDVI = new ol.source.TileWMS({
                url: geoserver_url + geoserver_workspace_name + '/wms',
                params: {
                    'FORMAT': 'image/png',
                    'VERSION': '1.1.1',
                    tiled: true,
                    'LAYERS': geoserver_workspace_name + ':' + layerNDVI
                },
                serverType: 'geoserver'
            });
            Layer_NDVI.setSource(Source_NDVI);

            layerAnomaly = layerModisTemplate1 + $('#Year_MOLT_MOD13Q1006').val() + $('#DayOfYear_MOLT_MOD13Q1006').val() + layerModisTemplate_MOLT_MOD13Q1006_B01_NDVI_Anomaly;
            Source_Anomaly = new ol.source.TileWMS({
                url: geoserver_url + geoserver_workspace_name + '/wms',
                params: {
                    'FORMAT': 'image/png',
                    'VERSION': '1.1.1',
                    tiled: true,
                    'LAYERS': geoserver_workspace_name + ':' + layerAnomaly
                },
                serverType: 'geoserver'
            });
            Layer_Anomaly.setSource(Source_Anomaly);
        }
        if ($('#SourceProduct').val() == 'MOLA_MYD13Q1006') {
            layerNDVI = layerModisTemplate1 + $('#Year_MOLA_MYD13Q1006').val() + $('#DayOfYear_MOLA_MYD13Q1006').val() + layerModisTemplate_MOLA_MYD13Q1006_B01_NDVI;
            Source_NDVI = new ol.source.TileWMS({
                url: geoserver_url + geoserver_workspace_name + '/wms',
                params: {
                    'FORMAT': 'image/png',
                    'VERSION': '1.1.1',
                    tiled: true,
                    'LAYERS': geoserver_workspace_name + ':' + layerNDVI
                },
                serverType: 'geoserver'
            });
            Layer_NDVI.setSource(Source_NDVI);

            layerAnomaly = layerModisTemplate1 + $('#Year_MOLA_MYD13Q1006').val() + $('#DayOfYear_MOLA_MYD13Q1006').val() + layerModisTemplate_MOLA_MYD13Q1006_B01_NDVI_Anomaly;
            Source_Anomaly = new ol.source.TileWMS({
                url: geoserver_url + geoserver_workspace_name + '/wms',
                params: {
                    'FORMAT': 'image/png',
                    'VERSION': '1.1.1',
                    tiled: true,
                    'LAYERS': geoserver_workspace_name + ':' + layerAnomaly
                },
                serverType: 'geoserver'
            });
            Layer_Anomaly.setSource(Source_Anomaly);
        }
    }
</script>

<script>
    var yeardays_MOLT_MOD13Q1006 = [];
</script>
@foreach (YearDay yearDay in yearDays_MOLT_MOD13Q1006.OrderBy(y => y.year).ThenBy(y => y.day))
{
    <script>
        yeardays_MOLT_MOD13Q1006.push({
            year: '@yearDay.year',
            day: '@yearDay.day'
        });
    </script>
}
<script>
    var yeardays_MOLA_MYD13Q1006 = [];
</script>
@foreach (YearDay yearDay in yearDays_MOLA_MYD13Q1006.OrderBy(y => y.year).ThenBy(y => y.day))
{
    <script>
        yeardays_MOLA_MYD13Q1006.push({
            year: '@yearDay.year',
            day: '@yearDay.day'
        });
    </script>
}

@*Sidebar Menu*@
<script>
    jQuery(document).ready(function () {
        /*
            Sidebar
        */
        $('.dismiss, .overlay').on('click', function () {
            $('.sidebar').removeClass('active');
        });

        $('.open-menu').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').addClass('active');
            // close opened sub-menus
            $('.collapse.show').toggleClass('show');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
        /* change sidebar style */
        $('a.btn-customized-dark').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').removeClass('light');
        });
        $('a.btn-customized-light').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').addClass('light');
        });


    });
</script>

@*tooltips, modal windows*@
<script>
    $(document).ready(function () {

        // Map Title
        new jBox('Modal', {
            attach: '#MapTitleBtn',
            theme: 'TooltipBorder',
            width: 260,
            blockScroll: false,
            animation: 'flip',
            closeButton: false,
            position: {
                x: 'right',
                y: 'top'
            },
            offset: {
                x: -10,
                y: 70
            },
            content: (
                '<h5 class="Card-title text-center text-white">Map title</h5>' +
                '<p class="card-text text-center text-white">This content is a little bit longer.</p>'
            ),
            overlay: false,
            reposition: true,
            repositionOnOpen: false
        }).open();
        // Map Legend
        new jBox('Modal', {
            autoOpen: true,
            attach: '#LegendBtn',
            theme: 'TooltipBorder',
            width: 250,
            blockScroll: false,
            animation: 'flip',
            closeButton: true,
            position: {
                x: 'right',
                y: 'bottom'
            },
            offset: {
                x: -10,
                y: -90
            },
            content: '<div class="p-0"><img id="legend" class="card-img-top" src="/images/Legends/LegendNDVI.svg"></div>',
            overlay: false,
            reposition: true,
            repositionOnOpen: false
        }).open();
        // Tooltip below to the right
        new jBox('Tooltip', {
            theme: 'TooltipDark',
            attach: '.SomeInfo',
            getTitle: 'InfoTitle',
            closeOnMouseleave: true,
            pointer: 'center:-20',
            maxWidth: 400,
            minWidth: 100,
            adjustPosition: true,
            adjustTracker: true
        });
    });
</script>