@using Pastures2019.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Species"];
    Layout = "~/Views/Shared/_LayoutMap.cshtml";
}
@await Html.PartialAsync("_StylesTabAndShart")
<link href="~/lib/ol/ol.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/vendor/font-awesome/css/font-awesome.min.css" />
<script src="~/lib/ol/ol.js"></script>
<link href="~/lib/vendor/jBox/dist/jBox.all.css" rel="stylesheet" />
<script src="~/lib/vendor/jBox/dist/jBox.all.js"></script>
<link href="~/lib/сhart.js/dist/Chart.css" rel="stylesheet" />
<script src="~/lib/сhart.js/dist/Chart.js"></script>

<div class="container-fluid sticky-top p-0">
    <!-- Sidebar -->
    <nav class="sidebar border border-light">
        <div class="page-wrapper chiller-theme">
            <!-- close sidebar menu -->
            <div class="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>
            <div class="logo">
                <h3><a href="#">Gis-Pasture</a></h3>
            </div>
            <!-- Other sections -->
            <ul class="list-unstyled menu-elements">
                <li>
                    <a href="#TematicLayerSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="TematicLayerSections">
                        <i class="fa fa-list"></i>@SharedLocalizer["BaseLayers"]
                    </a>
                    <div id="TematicLayerSections" class="collapse show" aria-labelledby="headingOne" data-parent="#TematicLayerSections">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="layerpopShow" checked="checked" onchange="ChangeLayers()">
                                <label class="form-check-label" for="layerpopShow">
                                    @SharedLocalizer["popLayer"]
                                </label>
                                <input id="layerpopOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="layeradmxpolShow" onchange="ChangeLayers()">
                                <label class="form-check-label" for="layeradmxpolShow">
                                    @SharedLocalizer["admxpolLayer"]
                                </label>
                                <input id="layeradmxpolOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="layerhdrShow" checked="checked" onchange="ChangeLayers()">
                                <label class="form-check-label" for="layerhdrShow">
                                    @SharedLocalizer["hdrLayer"]
                                </label>
                                <input id="layerhdrOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="layerrdslinShow" checked="checked" onchange="ChangeLayers()">
                                <label class="form-check-label" for="layerrdslinShow">
                                    @SharedLocalizer["rdslinLayer"]
                                </label>
                                <input id="layerrdslinOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="layerspeciesXShow" checked="checked" onchange="ChangeLayers()">
                                <label class="form-check-label" for="layerspeciesXShow">
                                    @SharedLocalizer["speciesXLayer"]
                                </label>
                                <br />
                                <input id="radiosok" type="radio" name="speciesX" value="species3" checked onclick="ChangeLayers()">@SharedLocalizer["RuralCounties"]<br>
                                <input id="radioray" type="radio" name="speciesX" value="species2" onclick="ChangeLayers()">@SharedLocalizer["Districts"]<br>
                                <input id="radioobl" type="radio" name="speciesX" value="species1" onclick="ChangeLayers()">@SharedLocalizer["Areas"]<br>
                                <input id="layerspeciesXOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#BaseLayerSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="BaseLayerSections">
                        <i class="fa fa-refresh"></i>@SharedLocalizer["BackgroundLayers"]
                    </a>
                    <div id="BaseLayerSections" class="collapse show" aria-labelledby="headingOne" data-parent="#BaseLayerSections">
                        <div class="card-body">
                            <div class="input-group input-group-sm">
                                <select class="custom-select" id="layerBaseType" onchange="ChangeLayers()">
                                    <option value="OSM">OpenStreetMap</option>
                                    <option value="BingAerialWithLabels">Bing Aerial</option>
                                    <option value="BingRoadStatic">Bing Road (static)</option>
                                    <option value="BingRoadDynamic">Bing Road (dynamic)</option>
                                    <option value="HERENormalDay">HERE Normal Day</option>
                                    <option value="HERENormalDayTransit">HERE Normal Day Transit</option>
                                    <option value="HERETerrainDay">HERE Terrain Day</option>
                                    <option value="HEREHybridDay" selected>HERE Hybrid Day</option>
                                    <option value="StamenWatercolor">Stamen Watercolor</option>
                                    <option value="StamenTerrain">Stamen Terrain</option>
                                    <option value="StamenToner">Stamen Toner</option>
                                    <option value="ArcGIS">ArcGIS</option>
                                    <option value="ThunderforestOpenCycleMap">Thunderforest OpenCycleMap</option>
                                    <option value="ThunderforestTransport">Thunderforest Transport</option>
                                    <option value="ThunderforestLandscape">Thunderforest Landscape</option>
                                    <option value="ThunderforestOutdoors">Thunderforest Outdoors</option>
                                    <option value="ThunderforestSpinalMap">Thunderforest Spinal Map</option>
                                    <option value="ThunderforestPioneer">Thunderforest Pioneer</option>
                                    <option value="ThunderforestMobileAtlas">Thunderforest Mobile Atlas</option>
                                    <option value="ThunderforestNeighbourhood">Thunderforest Neighbourhood</option>
                                </select>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input type="checkbox" id="layerBaseShow" checked="checked" onchange="ChangeLayers()">
                                    </div>
                                </div>
                            </div>
                            <input id="layerBaseOpacity" type="range" class="form-control-range" min="0" max="100" value="100" oninput="ChangeLayers()" />
                        </div>
                    </div>
                </li>
            </ul>
            <!-- Exaple 1 -->
            <div class="card-body">
                <div class="col-md-12" style="display: none" id="FilterKatoCont">
                    <form>
                        <div class="form-group m-0">
                            <label for="cato1" class="col-sm-auto col-form-label col-form-label-sm mt-0">@SharedLocalizer["Areas"]</label>
                            <select class="form-control form-control-sm" id="cato1" onchange="ChangeCATO1()"></select>
                        </div>
                        <div class="form-group m-0">
                            <label for="cato2" class="col-sm-auto col-form-label col-form-label-sm">@SharedLocalizer["Districts"]</label>
                            <select class="form-control form-control-sm" id="cato2" onchange="ChangeCATO2()"></select>
                        </div>
                        <div class="form-group m-0">
                            <label for="cato3" class="col-sm-auto col-form-label col-form-label-sm">@SharedLocalizer["RuralCounties"]</label>
                            <select class="form-control form-control-sm" id="cato3" onchange="ChangeCATO3()"></select>
                        </div>
                        <input id="InfoSpeciesBtn" class="btn btn-warning btn-block mt-3" type="button" value="@SharedLocalizer["Information"]" onclick="InfoCATO()" />
                    </form>
                </div>
                <div class="table-responsive-sm" style="display: none" id="InfoSpeciesCont">
                    <table class="table table-striped table-hover table-sm small">
                        <tbody>
                            <tr>
                                <th scope="row" id="infoOtdel">@SharedLocalizer["CattleGoals"]</th>
                                <td class="font-italic" colspan="2" id="valueCattleGoals"></td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoOtdel">@SharedLocalizer["HorsesGoals"]</th>
                                <td class="font-italic" colspan="2" id="valueHorsesGoals"></td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoOtdel">@SharedLocalizer["SheepGoals"]</th>
                                <td class="font-italic" colspan="2" id="valueSheepGoals"></td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoOtdel">@SharedLocalizer["CamelsGoals"]</th>
                                <td class="font-italic" colspan="2" id="valueCamelsGoals"></td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoOtdel">@SharedLocalizer["TotalConditionalGoalsInTermsOfSheep"]</th>
                                <td class="font-italic" colspan="2" id="valueTotalConditionalGoalsInTermsOfSheep"></td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoOtdel">@SharedLocalizer["AsOf"]</th>
                                <td class="font-italic" colspan="2" id="valueAsOf"></td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoOtdel">@SharedLocalizer["Population"]</th>
                                <td class="font-italic" colspan="2" id="valuePopulation"></td>
                            </tr>
                            <tr>
                                <th scope="row" id="infoOtdel">@SharedLocalizer["AreaOfPasturesha"]</th>
                                <td class="font-italic" colspan="2" id="valueAreaOfPasturesha"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-info table-sm small" id="table_info_species">
                    </table>
                </div>
                <div class="table-responsive-sm" style="display: none" id="InfoBreadCont">
                    <table class="table table-hover table-sm small" id="table_info_breed">
                    </table>
                </div>
                <div class="table-responsive-sm" style="display: none" id="InfoMap">
                    <table class="table table-striped table-hover table-sm small" id="InfoTableContent">
                        <tbody>
                            <tr>
                                <th scope="col" style="min-width:30%">@SharedLocalizer["AdministrativeUnit"]</th>
                                <td scope="col" id="infoCATO"></td>
                            </tr>
                            <tr>
                                <th scope="col">@SharedLocalizer["ZType"]</th>
                                <td scope="col" id="infoZType"></td>
                            </tr>
                            <tr>
                                <th scope="col">@SharedLocalizer["CattleGoals"]</th>
                                <td scope="col" id="infoCattleGoals"></td>
                            </tr>
                            <tr>
                                <th scope="row">@SharedLocalizer["HorsesGoals"]</th>
                                <td class="font-italic" id="infoHorsesGoals"></td>
                            </tr>
                            <tr>
                                <th scope="row">@SharedLocalizer["SheepGoals"]</th>
                                <td class="font-italic" id="infoSheepGoals"></td>
                            </tr>
                            <tr>
                                <th scope="row">@SharedLocalizer["CamelsGoals"]</th>
                                <td class="font-italic" id="infoCamelsGoals"></td>
                            </tr>
                            <tr>
                                <th scope="row">@SharedLocalizer["TotalConditionalGoalsInTermsOfSheep"]</th>
                                <td class="font-italic" id="infoTotalConditionalGoalsInTermsOfSheep"></td>
                            </tr>
                            <tr>
                                <th scope="row">@SharedLocalizer["AsOf"]</th>
                                <td class="font-italic" id="infoAsOf"></td>
                            </tr>
                            <tr>
                                <th scope="row">@SharedLocalizer["Population"]</th>
                                <td class="font-italic" id="infoPopulation"></td>
                            </tr>
                            <tr>
                                <th scope="row">@SharedLocalizer["AreaOfPasturesha"]</th>
                                <td class="font-italic" id="infoAreaOfPasturesha"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-group float-right" role="group">
                        <button id="btnGroupDownload" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @SharedLocalizer["Download"]
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDownload">
                            <a class="dropdown-item" href="#" role="button" id="excelbutton"><i class="fa fa-file-excel-o"></i>Excel</a>
                            <a class="dropdown-item" href="#" role="button" id="txtbutton"><i class="fa fa-file-text-o"></i>TXT</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Exaple 1 -->
            <div class="dark-light-buttons">
                <a class="btn btn-primary btn-customized-4 btn-customized-dark" href="#" role="button">Dark</a>
                <a class="btn btn-primary btn-customized-4 btn-customized-light" href="#" role="button">Light</a>
            </div>
        </div>
        <div class="chiller-theme">
            <div class="sidebar-footer">
                <a asp-area="" asp-controller="Home" asp-action="About">
                    <i class="SomeInfo fa fa-file" InfoTitle="@SharedLocalizer["About"]"></i>
                </a>
                @*<a asp-area="" asp-controller="Home" asp-action="Instruction">
                    <i class="SomeInfo fa fa-film" InfoTitle="@SharedLocalizer["Instruction"]"></i>
                </a>*@
                <a href="/Home/Instruction#Species">
                    <i class="SomeInfo fa fa-film" InfoTitle="@SharedLocalizer["Instruction"]"></i>
                </a>
                <a href="#" id="LegendBtn" class="target-click">
                    <i class="SomeInfo fa fa-list-alt" InfoTitle="@SharedLocalizer["Legend"]"></i>
                </a>
                <a href="#" id="MapTitleBtn" class="target-click">
                    <i class="SomeInfo fa fa-bookmark" InfoTitle="@SharedLocalizer["LayerInfo"]"></i>
                </a>
            </div>
        </div>
    </nav>
    <!-- End sidebar -->
    <!-- Content -->
    <div class="content">
        <!-- open sidebar menu -->
        <a class="btn btn-light btn-customized open-menu" href="#" role="button">
            <i class="fa fa-align-left"></i> <span>@SharedLocalizer["Menu"]</span>
        </a>
        <!-- Map content -->
        <div id="map" class="position-fixed col-md-12 ml-sm-auto col-lg-12 p-0" style="height: calc(100% - 100px);"></div>
    </div>
    <!-- End content -->
    <footer class="footer-classic fixed-bottom border-top border-light">
        <div class="container-fluid">
            <div class="row align-items-center m-1">
                <div class="col">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button id="FilterKATOBtn" type="button" class="btn btn-outline-primary btn-sm"><i class="SomeInfo fa fa-pie-chart" InfoTitle="@SharedLocalizer["FreeInformation"]"></i></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                            <button id="HomeBtn" type="button" class="btn btn-outline-primary btn-sm"><i class="SomeInfo fa fa-home" InfoTitle="@SharedLocalizer["ToHome"]" onclick="ToHome()"></i></button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Four group">
                            <button id="LegendBtn2" type="button" class="btn btn-outline-primary btn-sm"><i class="SomeInfo fa fa-list-alt" InfoTitle="@SharedLocalizer["Legend"]"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="float-right">
                        <!--LiveInternet counter--><a href="//www.liveinternet.ru/click"
                                                      target="_blank">
                            <img id="licnt1C2F" width="16" height="16" style="border:0"
                                 title="LiveInternet"
                                 src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
                                 alt="" />
                        </a>
                        <script>
    (function (d, s) {
                                d.getElementById("licnt1C2F").src =
                                "//counter.yadro.ru/hit?t44.12;r" + escape(d.referrer) +
                                ((typeof (s) == "undefined") ? "" : ";s" + s.width + "*" + s.height + "*" +
                                    (s.colorDepth ? s.colorDepth : s.pixelDepth)) + ";u" + escape(d.URL) +
                                ";h" + escape(d.title.substring(0, 150)) + ";" + Math.random()
                            })
                                (document, screen)</script><!--/LiveInternet-->&copy; @DateTime.Now.Year.ToString() - КазНИИЖиК
                            </div>
                </div>
                <div class="col col-lg-2">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
            </div>

        </div>
    </footer>
</div>

@* layers *@
<script>
    var geoserver_url = '@ViewBag.GeoServerUrl',
        geoserver_workspace_name = 'Pastures2019';
    var HEREappId = 'SLdBasp4s1oq2oUbVGxy';
    var HEREappCode = 'D9-h9iVhjgUB_9eUlFETXA';

    var Source_OSM = new ol.source.OSM();
    Source_BingAerialWithLabels = new ol.source.BingMaps({
        key: 'AmYNYRGlIrw_kppWvrIhfzY1v046b4Ft5nopz6Av94XDvTTo8xTkHCEaZ_zMwCOJ',
        imagerySet: 'AerialWithLabels',
    });
    Source_BingRoadStatic = new ol.source.BingMaps({
        key: 'AmYNYRGlIrw_kppWvrIhfzY1v046b4Ft5nopz6Av94XDvTTo8xTkHCEaZ_zMwCOJ',
        imagerySet: 'Road',
    });
    Source_BingRoadDynamic = new ol.source.BingMaps({
        key: 'AmYNYRGlIrw_kppWvrIhfzY1v046b4Ft5nopz6Av94XDvTTo8xTkHCEaZ_zMwCOJ',
        imagerySet: 'RoadOnDemand',
    });
    var urlTpl = 'https://{1-4}.{base}.maps.cit.api.here.com' +
        '/{type}/2.1/maptile/newest/{scheme}/{z}/{x}/{y}/256/png' +
        '?app_id={app_id}&app_code={app_code}';
    function HEREcreateUrl(tpl, HERElayerDesc) {
        return tpl
            .replace('{base}', HERElayerDesc.base)
            .replace('{type}', HERElayerDesc.type)
            .replace('{scheme}', HERElayerDesc.scheme)
            .replace('{app_id}', HERElayerDesc.app_id)
            .replace('{app_code}', HERElayerDesc.app_code);
    };
    var HERElayerDescNormalDay = {
        base: 'base',
        type: 'maptile',
        scheme: 'normal.day',
        app_id: HEREappId,
        app_code: HEREappCode
    };
    var Source_HERENormalDay = new ol.source.XYZ({
        url: HEREcreateUrl(urlTpl, HERElayerDescNormalDay),
        attributions: 'Map Tiles &copy; ' + new Date().getFullYear() + ' ' +
            '<a href="http://developer.here.com">HERE</a>'
    });
    var HERElayerDescNormalDayTransit = {
        base: 'base',
        type: 'maptile',
        scheme: 'normal.day.transit',
        app_id: HEREappId,
        app_code: HEREappCode
    };
    var Source_HERENormalDayTransit = new ol.source.XYZ({
        url: HEREcreateUrl(urlTpl, HERElayerDescNormalDayTransit),
        attributions: 'Map Tiles &copy; ' + new Date().getFullYear() + ' ' +
            '<a href="http://developer.here.com">HERE</a>'
    });
    var HERElayerDescTerrainDay = {
        base: 'aerial',
        type: 'maptile',
        scheme: 'terrain.day',
        app_id: HEREappId,
        app_code: HEREappCode
    };
    var Source_HERETerrainDay = new ol.source.XYZ({
        url: HEREcreateUrl(urlTpl, HERElayerDescTerrainDay),
        attributions: 'Map Tiles &copy; ' + new Date().getFullYear() + ' ' +
            '<a href="http://developer.here.com">HERE</a>'
    });
    var HERElayerDescHybridDay = {
        base: 'aerial',
        type: 'maptile',
        scheme: 'hybrid.day',
        app_id: HEREappId,
        app_code: HEREappCode
    };
    var Source_HEREHybridDay = new ol.source.XYZ({
        url: HEREcreateUrl(urlTpl, HERElayerDescHybridDay),
        attributions: 'Map Tiles &copy; ' + new Date().getFullYear() + ' ' + '<a href="http://developer.here.com">HERE</a>'
    });
    var Source_StamenWatercolor = new ol.source.Stamen({
        layer: 'watercolor'
    });
    var Source_StamenTerrain = new ol.source.Stamen({
        layer: 'terrain'
    });
    var Source_StamenToner = new ol.source.Stamen({
        layer: 'toner'
    });
    var Source_ArcGIS = new ol.source.XYZ({
        attributions: 'Tiles © <a href="https://services.arcgisonline.com/ArcGIS/' +
            'rest/services/World_Topo_Map/MapServer">ArcGIS</a>',
        url: 'https://server.arcgisonline.com/ArcGIS/rest/services/' +
            'World_Topo_Map/MapServer/tile/{z}/{y}/{x}'
    });
    var Source_ThunderforestOpenCycleMap = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/cycle/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestTransport = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/transport/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestLandscape = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestOutdoors = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/outdoors/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestTransportDark = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/transport-dark/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestSpinalMap = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/spinal-map/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestPioneer = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/pioneer/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestMobileAtlas = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/mobile-atlas/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Source_ThunderforestNeighbourhood = new ol.source.XYZ({
        url: 'https://{a-c}.tile.thunderforest.com/neighbourhood/{z}/{x}/{y}.png' +
            '?apikey=6746f4299ea3479aba8726b09f049c1b'
    });
    var Layer_Base = new ol.layer.Tile({
        source: Source_HEREHybridDay
    });
    Layer_Base.set('name', 'Base');
    Layer_Base.setOpacity(1);

    var url_adm1pol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_adm1pol = new ol.source.TileWMS({
        url: url_adm1pol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':adm1pol'
        },
        serverType: 'geoserver'
    });
    var Layer_adm1pol = new ol.layer.Tile({
        source: Source_adm1pol
    });
    Layer_adm1pol.set('name', 'admxpol');
    Layer_adm1pol.setVisible(false);

    var url_adm2pol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_adm2pol = new ol.source.TileWMS({
        url: url_adm2pol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':adm2pol'
        },
        serverType: 'geoserver'
    });
    var Layer_adm2pol = new ol.layer.Tile({
        source: Source_adm2pol
    });
    Layer_adm2pol.set('name', 'admxpol');
    Layer_adm2pol.setVisible(false);

    var url_adm3pol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_adm3pol = new ol.source.TileWMS({
        url: url_adm3pol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':adm3pol'
        },
        serverType: 'geoserver'
    });
    var Layer_adm3pol = new ol.layer.Tile({
        source: Source_adm3pol
    });
    Layer_adm3pol.set('name', 'admxpol');
    Layer_adm3pol.setVisible(false);

    var Layer_admXpol_Navigate = new ol.layer.Vector({
        style: new ol.style.Style({
            fill: new ol.style.Fill({
                color: 'transparent'
            }),
            stroke: new ol.style.Stroke({
                color: 'red',
                width: 4
            })
        })
    });
    Layer_admXpol_Navigate.set('name', 'admxpolnavigate');

    var url_hdrlin = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_hdrlin = new ol.source.TileWMS({
        url: url_hdrlin,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':hdrlin'
        },
        serverType: 'geoserver'
    });
    var Layer_hdrlin = new ol.layer.Tile({
        source: Source_hdrlin,
        maxResolution: ol.tilegrid.createXYZ().getResolution(7)
    });
    Layer_hdrlin.set('name', 'hdr');

    var url_hdrpol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_hdrpol = new ol.source.TileWMS({
        url: url_hdrpol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':hdrpol'
        },
        serverType: 'geoserver'
    });
    var Layer_hdrpol = new ol.layer.Tile({
        source: Source_hdrpol
    });
    Layer_hdrpol.set('name', 'hdr');

    var url_poppnt = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_poppnt = new ol.source.TileWMS({
        url: url_poppnt,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':poppnt'
        },
        serverType: 'geoserver'
    });
    var Layer_poppnt = new ol.layer.Tile({
        source: Source_poppnt,
        maxResolution: ol.tilegrid.createXYZ().getResolution(9)
    });
    Layer_poppnt.set('name', 'pop');

    var url_poppol = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_poppol = new ol.source.TileWMS({
        url: url_poppol,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':poppol'
        },
        serverType: 'geoserver'
    });
    var Layer_poppol = new ol.layer.Tile({
        source: Source_poppol
    });
    Layer_poppol.set('name', 'pop');

    var url_rdslin = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_rdslin = new ol.source.TileWMS({
        url: url_rdslin,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':rdslin'
        },
        serverType: 'geoserver'
    });
    var Layer_rdslin = new ol.layer.Tile({
        source: Source_rdslin
    });
    Layer_rdslin.set('name', 'rdslin');

    var url_species1 = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_species1 = new ol.source.TileWMS({
        url: url_species1,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':species1'
        },
        serverType: 'geoserver'
    });
    var Layer_species1 = new ol.layer.Tile({
        source: Source_species1
    });
    Layer_species1.set('name', 'speciesX');
    Layer_species1.set('subname', 'species1');
    Layer_species1.setVisible(false);

    var url_species2 = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_species2 = new ol.source.TileWMS({
        url: url_species2,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':species2'
        },
        serverType: 'geoserver'
    });
    var Layer_species2 = new ol.layer.Tile({
        source: Source_species2
    });
    Layer_species2.set('name', 'speciesX');
    Layer_species2.set('subname', 'species2');
    Layer_species2.setVisible(false);

    var url_species3 = geoserver_url + geoserver_workspace_name + '/wms';
    var Source_species3 = new ol.source.TileWMS({
        url: url_species3,
        params: {
            'FORMAT': 'image/png',
            'VERSION': '1.1.1',
            tiled: true,
            'LAYERS': geoserver_workspace_name + ':species3'
        },
        serverType: 'geoserver'
    });
    var Layer_species3 = new ol.layer.Tile({
        source: Source_species3
    });
    Layer_species3.set('name', 'speciesX');
    Layer_species3.set('subname', 'species3');

    var Source_select_species = new ol.source.Vector({});
    var Layer_select_species = new ol.layer.Vector({
        source: Source_select_species,
        style: new ol.style.Style({
            fill: new ol.style.Fill({
                color: [0, 0, 255, 1]
            }),
            stroke: new ol.style.Stroke({
                color: 'red',
                width: 2
            })
        })
    });
    Layer_select_species.set('name', 'speciesX');
</script>

@* map *@
<script>
    // permalink
    var zoom = 5;
    var center = ol.proj.fromLonLat([66.902, 48.714]);
    var rotation = 0;
    if (window.location.hash !== '') {
        // try to restore center, zoom-level and rotation from the URL
        var hash = window.location.hash.replace('#map=', '');
        var parts = hash.split('/');
        if (parts.length === 4) {
            zoom = parseInt(parts[0], 10);
            center = [
                parseFloat(parts[1]),
                parseFloat(parts[2])
            ];
            rotation = parseFloat(parts[3]);
        }
    }

    var map = new ol.Map({
        target: 'map',
        controls: new ol.control.defaults({ attributionOptions: { collapsible: true } }).extend([
            new ol.control.ScaleLine()
        ]),
        layers: [
            Layer_Base,
            Layer_species1,
            Layer_species2,
            Layer_species3,
            Layer_select_species,
            Layer_hdrlin,
            Layer_rdslin,
            Layer_adm1pol,
            Layer_adm2pol,
            Layer_adm3pol,
            Layer_poppol,
            Layer_poppnt,
            Layer_hdrpol
        ],
        view: new ol.View({
            center: center,
            zoom: 5,
            minZoom: 5,
            extent: [5028944.964937042, 4754994.655562972, 10214432.963802021, 7494497.74930296]
        })
    });

    // permalink
    var shouldUpdate = true;
    var view = map.getView();
    var updatePermalink = function () {
        if (!shouldUpdate) {
            // do not update the URL when the view was changed in the 'popstate' handler
            shouldUpdate = true;
            return;
        }
        var center = view.getCenter();
        var hash = '#map=' +
            view.getZoom() + '/' +
            Math.round(center[0] * 100) / 100 + '/' +
            Math.round(center[1] * 100) / 100 + '/' +
            view.getRotation();
        var state = {
            zoom: view.getZoom(),
            center: view.getCenter(),
            rotation: view.getRotation()
        };
        window.history.pushState(state, 'map', hash);
    };

    map.on('moveend', updatePermalink);

    window.addEventListener('popstate', function (event) {
        if (event.state === null) {
            return;
        }
        map.getView().setCenter(event.state.center);
        map.getView().setZoom(event.state.zoom);
        map.getView().setRotation(event.state.rotation);
        shouldUpdate = false;
    });
    function ToHome() {
        map.getView().fit([5028944.964937042, 4754994.655562972, 10214432.963802021, 7494497.74930296], map.getSize());

        filter_found = "otdely_id = 'none'";
        filterParams_found = {
            'FILTER': null,
            'CQL_FILTER': null,
            'FEATUREID': null
        };
        if (filter_found.replace(/^\s\s*/, '').replace(/\s\s*$/, '') != "") {
            filterParams_found["CQL_FILTER"] = filter_found;
        }

        Layer_select_species.getSource().clear();
        if (Layer_admXpol_Navigate.getSource()) {
            Layer_admXpol_Navigate.getSource().clear();
        }
    };
</script>

@* ChangeLayers *@
<script>
    function ChangeLayers() {
        map.getLayers().forEach(function (layer) {
            if (layer.get('name') == 'Base') {
                layer.setVisible(document.getElementById("layerBaseShow").checked);
                layer.setOpacity($('#layerBaseOpacity').val() / 100)
                if ($('#layerBaseType').val() == 'OSM') {
                    layer.setSource(Source_OSM);
                }
                else if ($('#layerBaseType').val() == 'BingAerialWithLabels') {
                    layer.setSource(Source_BingAerialWithLabels);
                }
                else if ($('#layerBaseType').val() == 'BingRoadStatic') {
                    layer.setSource(Source_BingRoadStatic);
                }
                else if ($('#layerBaseType').val() == 'BingRoadDynamic') {
                    layer.setSource(Source_BingRoadDynamic);
                }
                else if ($('#layerBaseType').val() == 'HERENormalDay') {
                    layer.setSource(Source_HERENormalDay);
                }
                else if ($('#layerBaseType').val() == 'HERENormalDayTransit') {
                    layer.setSource(Source_HERENormalDayTransit);
                }
                else if ($('#layerBaseType').val() == 'HERETerrainDay') {
                    layer.setSource(Source_HERETerrainDay);
                }
                else if ($('#layerBaseType').val() == 'HEREHybridDay') {
                    layer.setSource(Source_HEREHybridDay);
                }
                else if ($('#layerBaseType').val() == 'StamenWatercolor') {
                    layer.setSource(Source_StamenWatercolor);
                }
                else if ($('#layerBaseType').val() == 'StamenTerrain') {
                    layer.setSource(Source_StamenTerrain);
                }
                else if ($('#layerBaseType').val() == 'StamenToner') {
                    layer.setSource(Source_StamenToner);
                }
                else if ($('#layerBaseType').val() == 'ArcGIS') {
                    layer.setSource(Source_ArcGIS);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestOpenCycleMap') {
                    layer.setSource(Source_ThunderforestOpenCycleMap);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestTransport') {
                    layer.setSource(Source_ThunderforestTransport);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestLandscape') {
                    layer.setSource(Source_ThunderforestLandscape);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestOutdoors') {
                    layer.setSource(Source_ThunderforestOutdoors);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestTransportDark') {
                    layer.setSource(Source_ThunderforestTransportDark);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestSpinalMap') {
                    layer.setSource(Source_ThunderforestSpinalMap);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestPioneer') {
                    layer.setSource(Source_ThunderforestPioneer);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestMobileAtlas') {
                    layer.setSource(Source_ThunderforestMobileAtlas);
                }
                else if ($('#layerBaseType').val() == 'ThunderforestNeighbourhood') {
                    layer.setSource(Source_ThunderforestNeighbourhood);
                }
            }
            if (layer.get('name') == 'admxpol') {
                layer.setVisible(document.getElementById("layeradmxpolShow").checked);
                layer.setOpacity($('#layeradmxpolOpacity').val() / 100);
            }
            if (layer.get('name') == 'hdr') {
                layer.setVisible(document.getElementById("layerhdrShow").checked);
                layer.setOpacity($('#layerhdrOpacity').val() / 100);
            }
            if (layer.get('name') == 'pop') {
                layer.setVisible(document.getElementById("layerpopShow").checked);
                layer.setOpacity($('#layerpopOpacity').val() / 100);
            }
            if (layer.get('name') == 'rdslin') {
                layer.setVisible(document.getElementById("layerrdslinShow").checked);
                layer.setOpacity($('#layerrdslinOpacity').val() / 100);
            }
            if (layer.get('name') == 'speciesX') {
                layer.setOpacity($('#layerspeciesXOpacity').val() / 100);
                layer.setVisible(false);
                if (layer.get('subname') == $('input[name="speciesX"]:checked').val() || layer.get('subname') == null) {
                    layer.setVisible(document.getElementById("layerspeciesXShow").checked);
                }
            }
        })
    }
</script>

@* map.on('singleclick') *@
<script>
    var InfoMapModal;
    $(document).ready(function () {
        InfoMapModal = new jBox('Modal', {
            id: 'modal-info',
            maxWidth: 500,
            maxHeight: 400,
            zIndex: 'auto',
            draggable: 'title',
            closeOnClick: false,
            closeButton: 'title',
            animation: 'zoomIn',
            overlay: false,
            onOpen: function () {
                this.setContent($('#InfoMap'));
                this.setTitle('<div class="text-white font-weight-bold">@SharedLocalizer["Information"]</div>');
            },
            onClose: function () {
                Source_select_species.clear();
            }
        });
    })
    map.on('singleclick', function (evt) {
        Source_select_species.clear();
        $('#valueCattleGoals').text('');
        $('#valueHorsesGoals').text('');
        $('#valueSheepGoals').text('');
        $('#valueCamelsGoals').text('');
        $('#valueTotalConditionalGoalsInTermsOfSheep').text('');
        $('#valueAsOf').text('');
        $('#valuePopulation').text('');
        $('#valueAreaOfPasturesha').text('');
        document.getElementById("table_info_species").innerHTML = "";

        var viewResolution = (map.getView().getResolution());
        var url_species = null;
        if ($('input[name="speciesX"]:checked').val() == 'species1') {
            url_species = Source_species1.getGetFeatureInfoUrl(
                evt.coordinate, viewResolution, 'EPSG:3857',
                {
                    'INFO_FORMAT': 'text/javascript'
                });
        }
        if ($('input[name="speciesX"]:checked').val() == 'species2') {
            url_species = Source_species2.getGetFeatureInfoUrl(
                evt.coordinate, viewResolution, 'EPSG:3857',
                {
                    'INFO_FORMAT': 'text/javascript'
                });
        }
        if ($('input[name="speciesX"]:checked').val() == 'species3') {
            url_species = Source_species3.getGetFeatureInfoUrl(
                evt.coordinate, viewResolution, 'EPSG:3857',
                {
                    'INFO_FORMAT': 'text/javascript'
                });
        }
        if (url_species) {
            jQuery.ajax({
                jsonp: false,
                jsonpCallback: 'getJson',
                type: 'GET',
                url: url_species + "&format_options=callback:getJson",
                async: false,
                dataType: 'jsonp',
                error: function () {
                }
            }).then(function (data) {
                if ((Layer_species1.getVisible() || Layer_species2.getVisible() || Layer_species3.getVisible()) && data.features.length > 0) {
                    // select pasture
                    var polyFeature = new ol.Feature({
                        geometry: new ol.geom.MultiPolygon(data.features[0].geometry.coordinates)
                    });
                    Source_select_species.addFeature(polyFeature);
                    // data from species
                    var parser = new ol.format.GeoJSON();
                    var features = parser.readFeatures(data);
                    InfoMapModal.open();
                    $('#infoCattleGoals').text(features[0].get('cattle'));
                    $('#infoHorsesGoals').text(features[0].get('horses'));
                    $('#infoSheepGoals').text(features[0].get('smallcattl'));
                    $('#infoCamelsGoals').text(features[0].get('camels'));
                    $('#infoTotalConditionalGoalsInTermsOfSheep').text(features[0].get('totalgoals'));
                    $('#infoAsOf').text(features[0].get('date'));
                    $('#infoPopulation').text(features[0].get('population'));
                    $('#infoAreaOfPasturesha').text(features[0].get('pastures'));
                    if ($('input[name="speciesX"]:checked').val() == 'species1') {
                        GetCATOSpeciesInfo(features[0].get('kato_te'));
                    }
                    if ($('input[name="speciesX"]:checked').val() == 'species2') {
                        GetCATOSpeciesInfo(features[0].get('kato'));
                    }
                    if ($('input[name="speciesX"]:checked').val() == 'species3') {
                        GetCATOSpeciesInfo(features[0].get('kato_te'));
                    }
                }
            });
        }
    })
    // function for export table
    var $excelbutton = $('#excelbutton')
    var $txtbutton = $('#txtbutton')
    $(function () {
        $excelbutton.click(function () {
            $('#InfoTableContent').tableExport({type:'excel'});
        })
        $txtbutton.click(function () {
            $('#InfoTableContent').tableExport({
                type: 'txt'
            });
        })

    })
</script>

@* CATO *@
<script>
    var cato = new Array();
    @foreach (CATO cATO in ViewBag.CATO)
    {
        @:var cato_new = {};
        @:cato_new["te"] = '@cATO.TE';
        @:cato_new["ab"] = '@cATO.AB';
        @:cato_new["cd"] = '@cATO.CD';
        @:cato_new["ef"] = '@cATO.EF';
        @:cato_new["hij"] = '@cATO.HIJ';
        @:cato_new["name"] = '@Html.Raw(cATO.Name)';
        @:cato.push(cato_new);
    }
    $('#cato1').append($("<option />"));
    $.each(cato, function () {
        if (this.cd == '00') {
            $('#cato1').append($("<option />").val(this.te).text(this.name));
        }
    });

    function ChangeCATO1() {
        NavigateToCATO($('#cato1').val(), 1);
        var ab = $('#cato1').val().substr(0, 2);
        $('#cato2').empty();
        $('#cato3').empty();
        $('#cato2').append($("<option />"));
        $.each(cato, function () {
            if (this.ef == '00' && this.ab == ab && this.cd != '00') {
                $('#cato2').append($("<option />").val(this.te).text(this.name));
            }
        });
    }

    function ChangeCATO2() {
        NavigateToCATO($('#cato2').val(), 2);
        var ab = $('#cato2').val().substr(0, 2),
            cd = $('#cato2').val().substr(2, 2);
        $('#cato3').empty();
        $('#cato3').append($("<option />"));
        $.each(cato, function () {
            if (this.hij == '000' && this.ab == ab && this.cd == cd && this.ef != '00') {
                $('#cato3').append($("<option />").val(this.te).text(this.name));
            }
        });
    }

    function ChangeCATO3() {
        NavigateToCATO($('#cato3').val(), 3);
    }

    var first_admXpol_Navigate = true;
    function NavigateToCATO(te, layer) {
        if (Layer_admXpol_Navigate.getSource() != null) {
            Layer_admXpol_Navigate.getSource().clear();
        }
        if (te == '') {
            return;
        }
        var filter = "kato_te = '" + te + "'";
        var filterParams = {
            'FILTER': null,
            'CQL_FILTER': null,
            'FEATUREID': null
        };
        if (filter.replace(/^\s\s*/, '').replace(/\s\s*$/, '') != "") {
            filterParams["CQL_FILTER"] = filter;
        }
        url_admXpol_Navigate = geoserver_url + geoserver_workspace_name + "/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=" + geoserver_workspace_name + ":adm" + layer.toString() + "pol&CQL_FILTER=" + filter + "&outputFormat=text/javascript&format_options=callback:getJson";
        $.ajax({
            jsonp: false,
            jsonpCallback: 'getJson',
            type: 'GET',
            url: url_admXpol_Navigate,
            async: false,
            dataType: 'jsonp',
            success: function (data_admXpol_Navigate) {
                var new_source = new ol.source.Vector({
                    features: (new ol.format.GeoJSON()).readFeatures(data_admXpol_Navigate, {
                        featureProjection: 'EPSG:3857'
                    })
                });
                Layer_admXpol_Navigate.setSource(new_source);
                map.getView().fit(Layer_admXpol_Navigate.getSource().getExtent());
                if (first_admXpol_Navigate) {
                    map.addLayer(Layer_admXpol_Navigate);
                    first_admXpol_Navigate = false;
                }
            }
        });
    }
</script>

@* InfoCATO, GetCATOSpeciesInfo *@
<script>
    var InfoSpeciesModal;
    var InfoBreadModal;
    var i = 1;
    $(document).ready(function () {
        new jBox('Modal', {
            attach: '#FilterKATOBtn',
            width: 300,
            zIndex: 'auto',
            draggable: 'title',
            closeOnClick: false,
            closeButton: 'title',
            animation: 'slide',
            title: '@SharedLocalizer["FreeInformation"]',
            content: $('#FilterKatoCont'),
            overlay: false
        });
        $('#InfoSpeciesBtn').on('click', function () {
            InfoSpeciesModal.open()
        });
    });
    $(document).ready(function () {
        InfoSpeciesModal = new jBox('Modal', {
            id: 'modal-white',
            maxWidth: 400,
            maxHeight: 500,
            blockScroll: false,
            zIndex: 'auto',
            closeButton: 'title',
            animation: 'pulse',
            draggable: 'title',
            overlay: false,
            onOpen: function () {
                this.setTitle('<div class="ajax-complete">@SharedLocalizer["FreeInformation"]</div>');
                this.setContent($('#InfoSpeciesCont'));
            },
        });
    });
    $(document).ready(function () {
        InfoBreadModal = new jBox('Modal', {
            id: 'modal-white',
            maxWidth: 460,
            maxHeight: 600,
            blockScroll: false,
            zIndex: 'auto',
            closeButton: 'box',
            animation: 'pulse',
            overlay: false,
            content: $('#InfoBreadCont'),
            position: {
                x: i * 10,
                y: i * 10
            }
        });
    });
    function InfoCATO() {
        document.getElementById("table_info_species").innerHTML = "";
        var te = $('#cato3').val(),
            te1 = $('#cato1').val(),
            te2 = $('#cato2').val(),
            te3 = $('#cato3').val();
        var filters = "kato_te = '" + te + "'";
        var url_species_Navigate = geoserver_url + geoserver_workspace_name + "/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=" + geoserver_workspace_name + ":species3&CQL_FILTER=" + filters + "&outputFormat=text/javascript&format_options=callback:getJson";
        if (te3 == '') {
            te = te2;
            filters = "kato = '" + te + "'";
            url_species_Navigate = geoserver_url + geoserver_workspace_name + "/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=" + geoserver_workspace_name + ":species2&CQL_FILTER=" + filters + "&outputFormat=text/javascript&format_options=callback:getJson";
        }
        if (te2 == '') {
            te = te1;
            filters = "kato_te = '" + te + "'";
            url_species_Navigate = geoserver_url + geoserver_workspace_name + "/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=" + geoserver_workspace_name + ":species1&CQL_FILTER=" + filters + "&outputFormat=text/javascript&format_options=callback:getJson";
        }
        $.ajax({
            jsonp: false,
            jsonpCallback: 'getJson',
            type: 'GET',
            url: url_species_Navigate,
            async: false,
            dataType: 'jsonp',
            success: function (data) {
                if (data.features.length > 0) {
                    $('#valueCattleGoals').text(data.features[0].properties.cattle);
                    $('#valueHorsesGoals').text(data.features[0].properties.horses);
                    $('#valueSheepGoals').text(data.features[0].properties.smallcattl);
                    $('#valueCamelsGoals').text(data.features[0].properties.camels);
                    $('#valueTotalConditionalGoalsInTermsOfSheep').text(data.features[0].properties.totalgoals);
                    $('#valueAsOf').text(data.features[0].properties.date);
                    $('#valuePopulation').text(data.features[0].properties.population);
                    $('#valueAreaOfPasturesha').text(data.features[0].properties.pastures);
                }
                GetCATOSpeciesInfo(te);
            }
        });
    }

    function GetCATOSpeciesInfo(te) {
        $.ajax({
            url: '@Url.Action("GetCATOSpeciesInfo")',
            data: {
                catote: te,
            },
            type: 'POST',
            spinner: true,
            success: function (dataDB) {
                $('#infoCATO').text(dataDB.cato);
                $('#infoZType').text(dataDB.type_k);
                var content = "<table>"                
                for (i = 0; i < dataDB.camels.length; i++) {
                    content += '<tr><td>@SharedLocalizer["Camel"]</td>'
                        + '<td style="padding-left: 10px;">' + dataDB.camels[i].breed + '</td>'
                        + '<td style="padding-left: 10px;">' + '<a href="" style="color: blue;" onClick="return More(' + dataDB.camels[i].code + ')"><i><font size="1">@SharedLocalizer["Details"]</font></i></a>' + '</td>' + '</tr>';
                }
                for (i = 0; i < dataDB.cattle.length; i++) {
                    content += '<tr><td>@SharedLocalizer["Cattle"]</td>'
                        + '<td style="padding-left: 10px;">' + dataDB.cattle[i].breed + '</td>'
                        + '<td style="padding-left: 10px;">' + '<a href="" style="color: blue;" onClick="return More(' + dataDB.cattle[i].code + ')"><i><font size="1">@SharedLocalizer["Details"]</font></i></a>' + '</td>' + '</tr>';
                }
                for (i = 0; i < dataDB.horses.length; i++) {
                    content += '<tr><td>@SharedLocalizer["Horses"]</td>'
                        + '<td style="padding-left: 10px;">' + dataDB.horses[i].breed + '</td>'
                        + '<td style="padding-left: 10px;">' + '<a href="" style="color: blue;" onClick="return More(' + dataDB.horses[i].code + ')"><i><font size="1">@SharedLocalizer["Details"]</font></i></a>' + '</td>' + '</tr>';
                }
                for (i = 0; i < dataDB.smallcattle.length; i++) {
                    content += '<tr><td>@SharedLocalizer["SmallCattle"]</td>'
                        + '<td style="padding-left: 10px;">' + dataDB.smallcattle[i].breed + '</td>'
                        + '<td style="padding-left: 10px;">' + '<a href="" style="color: blue;" onClick="return More(' + dataDB.smallcattle[i].code + ')"><i><font size="1">@SharedLocalizer["Details"]</font></i></a>' + '</td>' + '</tr>';
                }
                content += "</table>"
                $('#table_info_species').append(content);
            },
            error: function () {
            }
        })
    }
</script>

@* More *@
<script>
    function More(Code) {
        document.getElementById("table_info_breed").innerHTML = "";
        $.ajax({
            url: '@Url.Action("GetBreedInfo")',
            data: {
                Code: Code,
            },
            type: 'POST',
            success: function (data) {
                InfoBreadModal.open();
                var content = "<table>";
                if (Code > 400) {
                    content += '<tr><td>@SharedLocalizer["Breed"]</td>' + '<td style="padding-left: 10px;">' + data.smallcattle.breed + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Direction"]</td>' + '<td style="padding-left: 10px;">' + data.smallcattle.direction + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Weight"]</td>' + '<td style="padding-left: 10px;">' + data.smallcattle.weight + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Shearings"]</td>' + '<td style="padding-left: 10px;">' + data.smallcattle.shearings + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["WashedWoolYield"]</td>' + '<td style="padding-left: 10px;">' + data.smallcattle.washedWoolYield + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Fertility"]</td>' + '<td style="padding-left: 10px;">' + data.smallcattle.fertility + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["WoolLength"]</td>' + '<td style="padding-left: 10px;">' + data.smallcattle.woolLength + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["TotalGoals"]</td>' + '<td style="padding-left: 10px;">' + data.smallcattle.totalGoals + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Bred"]</td>' + '<td style="padding-left: 10px;">' + data.smallcattle.bred + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Range"]</td>' + '<td style="padding-left: 10px;">' + data.smallcattle.range + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Description"]</td>' + '<td style="padding-left: 10px;">' + data.smallcattle.description + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Photo"]</td>' + '<td style="padding-left: 10px;">' + '<img src="' + data.smallcattle.img + '" style="max-width: 350px;" />' + '</td></tr>';
                }
                else if (Code > 300) {
                    content += '<tr><td>@SharedLocalizer["Breed"]</td>' + '<td style="padding-left: 10px;">' + data.horse.breed + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Direction"]</td>' + '<td style="padding-left: 10px;">' + data.horse.direction + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Weight"]</td>' + '<td style="padding-left: 10px;">' + data.horse.weight + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Height"]</td>' + '<td style="padding-left: 10px;">' + data.horse.height + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["MilkYield"]</td>' + '<td style="padding-left: 10px;">' + data.horse.milkYield + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["BodyLength"]</td>' + '<td style="padding-left: 10px;">' + data.horse.bodyLength + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Bust"]</td>' + '<td style="padding-left: 10px;">' + data.horse.bust + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Metacarpus"]</td>' + '<td style="padding-left: 10px;">' + data.horse.metacarpus + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["TotalGoals"]</td>' + '<td style="padding-left: 10px;">' + data.horse.totalGoals + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Bred"]</td>' + '<td style="padding-left: 10px;">' + data.horse.bred + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Range"]</td>' + '<td style="padding-left: 10px;">' + data.horse.range + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Description"]</td>' + '<td style="padding-left: 10px;">' + data.horse.description + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Photo"]</td>' + '<td style="padding-left: 10px;">' + '<img src="' + data.horse.img + '" style="max-width: 350px;" />' + '</td></tr>';
                }
                else if (Code > 200) {
                    content += '<tr><td>@SharedLocalizer["Breed"]</td>' + '<td style="padding-left: 10px;">' + data.cattle.breed + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Direction"]</td>' + '<td style="padding-left: 10px;">' + data.cattle.direction + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Weight"]</td>' + '<td style="padding-left: 10px;">' + data.cattle.weight + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["SlaughterYield"]</td>' + '<td style="padding-left: 10px;">' + data.cattle.slaughterYield + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["EwesYield"]</td>' + '<td style="padding-left: 10px;">' + data.cattle.ewesYield + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["TotalGoals"]</td>' + '<td style="padding-left: 10px;">' + data.cattle.totalGoals + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["MilkFatContent"]</td>' + '<td style="padding-left: 10px;">' + data.cattle.milkFatContent + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Bred"]</td>' + '<td style="padding-left: 10px;">' + data.cattle.bred + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Range"]</td>' + '<td style="padding-left: 10px;">' + data.cattle.range + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Description"]</td>' + '<td style="padding-left: 10px;">' + data.cattle.description + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Photo"]</td>' + '<td style="padding-left: 10px;">' + '<img src="' + data.cattle.img + '" style="max-width: 350px;" />' + '</td></tr>';
                }
                else if (Code > 100) {
                    content += '<tr><td>@SharedLocalizer["Breed"]</td>' + '<td style="padding-left: 10px;">' + data.camel.breed + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Weight"]</td>' + '<td style="padding-left: 10px;">' + data.camel.weight + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["SlaughterYield"]</td>' + '<td style="padding-left: 10px;">' + data.camel.slaughterYield + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["EwesYield"]</td>' + '<td style="padding-left: 10px;">' + data.camel.ewesYield + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["TotalGoals"]</td>' + '<td style="padding-left: 10px;">' + data.camel.totalGoals + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["MilkFatContent"]</td>' + '<td style="padding-left: 10px;">' + data.camel.milkFatContent + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Range"]</td>' + '<td style="padding-left: 10px;">' + data.camel.range + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Description"]</td>' + '<td style="padding-left: 10px;">' + data.camel.description + '</td></tr>';
                    content += '<tr><td>@SharedLocalizer["Photo"]</td>' + '<td style="padding-left: 10px;">' + '<img src="' + data.camel.img + '" style="max-width: 350px;" />' + '</td></tr>';
                }
                content += "</table>"
                $('#table_info_breed').append(content);
            },
            error: function () {
            }
        });
        return false;
    };
</script>

@*Sidebar Menu*@
<script>
    jQuery(document).ready(function () {
        /* Sidebar */
        $('.dismiss, .overlay').on('click', function () {
            $('.sidebar').removeClass('active');
        });

        $('.open-menu').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').addClass('active');
            // close opened sub-menus
            $('.collapse.show').toggleClass('show');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
        /* change sidebar style */
        $('a.btn-customized-dark').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').removeClass('light');
        });
        $('a.btn-customized-light').on('click', function (e) {
            e.preventDefault();
            $('.sidebar').addClass('light');
        });
    });
</script>

@*tooltips, modal windows*@
<script>
    $(document).ready(function () {
        // Map Title
        new jBox('Modal', {
            attach: '#MapTitleBtn',
            theme: 'TooltipBorder',
            width: 260,
            blockScroll: false,
            animation: 'flip',
            closeButton: false,
            position: {
                x: 'right',
                y: 'top'
            },
            offset: {
                x: -10,
                y: 70
            },
            content: ('<h5 class="Card-title text-center text-white">@SharedLocalizer["Species"]</h5>'),
            overlay: false,
            reposition: true,
            repositionOnOpen: false
        }).open();

        // Map Legend
        $('#LegendBtn').on('click', function () {
            InfoLegendModal.open()
        });
        $('#LegendBtn2').on('click', function () {
            InfoLegendModal.open()
        });

        // Tooltip below to the right
        new jBox('Tooltip', {
            theme: 'TooltipDark',
            attach: '.SomeInfo',
            getTitle: 'InfoTitle',
            closeOnMouseleave: true,
            pointer: 'center:-20',
            maxWidth: 400,
            minWidth: 100,
            adjustPosition: true,
            adjustTracker: true
        });
    });
    $(document).ready(function () {
        InfoLegendModal = new jBox('Modal', {
            theme: 'TooltipBorder',
            width: 400,
            maxHeight: 550,
            zIndex: 'auto',
            closeButton: true,
            overlay: false,
            reload: 'strict',
            animation: 'flip',
            adjustPosition: false,
            closeButton: true,
            closeOnConfirm: true,
            position: {
                x: 'right',
                y: 'bootom'
            },
            offset: {
                x: -10,
                y: -100
            },
            onOpen: function () {
                this.setContent('<div class="p-0"><img id="legend" class="card-img-top" src="/images/Legends/species.jpg"></div>');
            },
        });
    });
</script>