@page
@model LoginModel
@using Pastures2019.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Login"];
}

<div class="container">
    <form class="form-signin mt-5" id="account" method="post">
        <div class="text-center mb-4">
            <img class="mb-4" src="~/images/logoKazniijik.svg" alt="" width="100" height="100">
            <h1 class="h3 mb-3 font-weight-normal">@ViewData["Title"]</h1>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-label-group">
            <input asp-for="Input.Email" id="inputEmail" class="form-control" placeholder="@SharedLocalizer["Email"]" required autofocus>
            <label asp-for="Input.Email"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-label-group">
            <input asp-for="Input.Password" type="password" id="inputPassword" class="form-control" placeholder="@SharedLocalizer["Password"]" required>
            <label asp-for="Input.Password" for="inputPassword"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="checkbox mb-3">
            <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe"> @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">@SharedLocalizer["Login"]</button>
        <div class="form-group">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">@SharedLocalizer["ForgotYourPassword"]</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@SharedLocalizer["Register"]</a>
            </p>
        </div>
        <p class="mt-5 mb-3 text-muted text-center">&copy; @DateTime.Now.Year.ToString() - Pastures</p>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
