@using Pastures2019.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Administrator"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@SharedLocalizer["Administrator"]</h1>

<a asp-area="" asp-controller="Users" asp-action="Index">@SharedLocalizer["Users"]</a>
<br />
<h>
    <a asp-area="" asp-controller="MODIS" asp-action="Index">MODIS</a>
</h>
<br />
<a asp-area="" asp-controller="MODISSources" asp-action="Index">@SharedLocalizer["MODISSources"]</a>
<a asp-area="" asp-controller="MODISProducts" asp-action="Index">@SharedLocalizer["MODISProducts"]</a>
<a asp-area="" asp-controller="MODISDataSets" asp-action="Index">@SharedLocalizer["MODISDataSets"]</a>
<br />
@if (System.Threading.Thread.CurrentThread.CurrentCulture != null)
{
    if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "ru")
    {
        <h>
            Кормовые ресурсы Республики Казахстан
        </h>
    }
    else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "kk")
    {
        <h>
            Қазақстан Республикасының азық ресурстары
        </h>
    }
    else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en")
    {
        <h>
            Feed resources of the Republic of Kazakhstan
        </h>
    }
}
<br />
<a asp-area="" asp-controller="CATOes" asp-action="Index">@SharedLocalizer["CATO"]</a>
<br />
@if (System.Threading.Thread.CurrentThread.CurrentCulture != null)
{
    if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "ru")
    {
        <h>
            Земельный запас Республики Казахстан
        </h>
    }
    else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "kk")
    {
        <h>
            Қазақстан Республикасының жер қоры
        </h>
    }
    else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en")
    {
        <h>
            Land reserve of the Republic of Kazakhstan
        </h>
    }
}
<br />
<a asp-area="" asp-controller="DominantTypes" asp-action="Index">@SharedLocalizer["DominantTypes"]</a>
<br />
@if (System.Threading.Thread.CurrentThread.CurrentCulture != null)
{
    if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "ru")
    {
        <h>
            Породное районирование сельскохозяйственных животных Республики Казахстан
        </h>
    }
    else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "kk")
    {
        <h>
            Қазақстан Республикасының ауыл шаруашылығы жануарларын асылдандыру
        </h>
    }
    else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en")
    {
        <h>
            Breeding zoning of farm animals of the Republic of Kazakhstan
        </h>
    }
}
<br />
<a asp-area="" asp-controller="Camels" asp-action="Index">@SharedLocalizer["Camels"]</a>
<a asp-area="" asp-controller="Cattle" asp-action="Index">@SharedLocalizer["Cattles"]</a>
<a asp-area="" asp-controller="Horses" asp-action="Index">@SharedLocalizer["Horses"]</a>
<a asp-area="" asp-controller="SmallCattles" asp-action="Index">@SharedLocalizer["SmallCattles"]</a>
<a asp-area="" asp-controller="CATOSpecies" asp-action="Index">@SharedLocalizer["CATOSpecies"]</a>
<br />
@if (System.Threading.Thread.CurrentThread.CurrentCulture != null)
{
    if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "ru")
    {
        <h>
            Обводнение пастбищ Республики Казахстан
        </h>
    }
    else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "kk")
    {
        <h>
            Қазақстан Республикасының суармалы жайылымдары
        </h>
    }
    else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en")
    {
        <h>
            Watering pastures of the Republic of Kazakhstan
        </h>
    }
}
<br />
<a asp-area="" asp-controller="ChemicalComps" asp-action="Index">@SharedLocalizer["ChemicalComps"]</a>
<br />
@if (System.Threading.Thread.CurrentThread.CurrentCulture != null)
{
    if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "ru")
    {
        <h>
            Нагрузка сельскохозяйственных животных на пастбища Республики Казахстан
        </h>
    }
    else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "kk")
    {
        <h>
            Қазақстан Республикасының жайылымдарына ауылшаруашылық жануарларының жүктемесі
        </h>
    }
    else if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en")
    {
        <h>
            The load of farm animals on the pastures of the Republic of Kazakhstan
        </h>
    }
}
<br />
<a asp-area="" asp-controller="BurOtdels" asp-action="Index">@SharedLocalizer["BurOtdels"]</a>
<a asp-area="" asp-controller="BTypes" asp-action="Index">@SharedLocalizer["BTypes"]</a>
<a asp-area="" asp-controller="BurSubOtdels" asp-action="Index">@SharedLocalizer["BurSubOtdels"]</a>
<a asp-area="" asp-controller="BClasses" asp-action="Index">@SharedLocalizer["BClasses"]</a>
<a asp-area="" asp-controller="BGroups" asp-action="Index">@SharedLocalizer["BGroups"]</a>