@using Pastures2019.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Extract"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="jumbotron p-2 mt-2">
        <h1>@SharedLocalizer["Extract"]</h1>

        @if (!string.IsNullOrEmpty(ViewBag.ExtractStarted))
        {
            <h2>@ViewBag.ExtractStarted</h2>
        }
    </div>
    <div class="row">
        <div class="col-md-12 col-md-auto">
            <form asp-action="Extract">
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["MODISDataSet"]</label>
                    @Html.DropDownList("MODISDataSetId", (IEnumerable<SelectListItem>)ViewBag.MODISDataSetId, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["Folder"]</label>
                    @Html.DropDownList("Folder", (IEnumerable<SelectListItem>)ViewBag.Folder, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <input type="submit" value="@SharedLocalizer["Extract"]" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>