@model Pastures2019.Models.FarmPasture
@using Pastures2019.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Details"];
    Layout = "~/Views/Shared/_LayoutMap.cshtml";
}
@await Html.PartialAsync("_StylesTabAndShart")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
<div class="container">
    <div class="jumbotron p-2 mt-2">
        <h1>@SharedLocalizer["Details"]</h1>
        <h4>@SharedLocalizer["FarmPasture"]</h4>
    </div>
    <div class="row">
        <div class="col-md-12 col-md-auto">
            <div class="table-responsive">
                <table class="table table-striped table-sm" id="ExportFarmPastureTab" 
                       data-toggle="table"
                       data-toolbar="#toolbar"
                       data-search="true"
                       data-show-columns="true"
                       data-show-columns-toggle-all="true"
                       data-show-fullscreen="true"
                       data-buttons="btn btn-sm"
                       data-buttons-class="primary"
                       data-show-print="true"
                       data-show-export="true">
                    <thead>
                        <tr>
                            <th scope="col" style="width:35%">Атрибут</th>
                            <th scope="col">Наименование</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.tid)</th>
                            <td>@Html.DisplayFor(model => model.tid)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.CATOTE)</th>
                            <td>@Html.DisplayFor(model => model.CATOTE)</td>
                        </tr>
                        <tr>
                            <th scope="row"> @Html.DisplayNameFor(model => model.Farm)</th>
                            <td> @Html.DisplayFor(model => model.Farm)</td>
                        </tr>
                        <tr>
                            <th scope="row"> @Html.DisplayNameFor(model => model.NaturalArea)</th>
                            <td> @Html.DisplayFor(model => model.NaturalArea)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.PType)</th>
                            <td>@Html.DisplayFor(model => model.PType)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Relief)</th>
                            <td>@Html.DisplayFor(model => model.Relief)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.ThePresenceOfEconomicallySignificantContours)</th>
                            <td>@Html.DisplayFor(model => model.ThePresenceOfEconomicallySignificantContours)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.LandAreaAccordingToLandUseAct)</th>
                            <td>@Html.DisplayFor(model => model.LandAreaAccordingToLandUseAct)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.ProjectiveCoverageFrom)</th>
                            <td>@Html.DisplayFor(model => model.ProjectiveCoverageFrom)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.ProjectiveCoverageTo)</th>
                            <td>@Html.DisplayFor(model => model.ProjectiveCoverageTo)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.AveragePastureProductivitySpring)</th>
                            <td> @Html.DisplayFor(model => model.AveragePastureProductivitySpring)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.AveragePastureProductivitySummer)</th>
                            <td>@Html.DisplayFor(model => model.AveragePastureProductivitySummer)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.AveragePastureProductivityAutumn)</th>
                            <td>@Html.DisplayFor(model => model.AveragePastureProductivityAutumn)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.TypeOfGrazedAnimalsBreed)</th>
                            <td>@Html.DisplayFor(model => model.TypeOfGrazedAnimalsBreed)</td>
                        </tr>
                        <tr>
                            <th scope="row"> @Html.DisplayNameFor(model => model.TheNumberOfGrazedAnimalsGoals)</th>
                            <td>@Html.DisplayFor(model => model.TheNumberOfGrazedAnimalsGoals)</td>
                        </tr>
                        <tr>
                            <th scope="row"> @Html.DisplayNameFor(model => model.NumberOfGrazingDaysSpring)</th>
                            <td>@Html.DisplayFor(model => model.NumberOfGrazingDaysSpring)</td>
                        </tr>
                        <tr>
                            <th scope="row"> @Html.DisplayNameFor(model => model.NumberOfGrazingDaysSummer)</th>
                            <td>@Html.DisplayFor(model => model.NumberOfGrazingDaysSummer)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.NumberOfGrazingDaysFall)</th>
                            <td>@Html.DisplayFor(model => model.NumberOfGrazingDaysFall)</td>
                        </tr>
                        <tr>
                            <th scope="row"> @Html.DisplayNameFor(model => model.FloodingEatSourcesWells)</th>
                            <td>@Html.DisplayFor(model => model.FloodingEatSourcesWells)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.TheNeedForPastureFeedSpring)</th>
                            <td>@Html.DisplayFor(model => model.TheNeedForPastureFeedSpring)</td>
                        </tr>
                        <tr>
                            <th scope="row"> @Html.DisplayNameFor(model => model.TheNeedForPastureFeedSummer)</th>
                            <td>@Html.DisplayFor(model => model.TheNeedForPastureFeedSummer)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.TheNeedForPastureFeedAutumn)</th>
                            <td>@Html.DisplayFor(model => model.TheNeedForPastureFeedAutumn)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.FeedStockOfUsedPasturesSpring)</th>
                            <td>@Html.DisplayFor(model => model.FeedStockOfUsedPasturesSpring)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.FeedStockOfUsedPasturesSummer)</th>
                            <td> @Html.DisplayFor(model => model.FeedStockOfUsedPasturesSummer)</td>
                        </tr>
                        <tr>
                            <th scope="row"> @Html.DisplayNameFor(model => model.FeedStockOfUsedPasturesAutumn)</th>
                            <td> @Html.DisplayFor(model => model.FeedStockOfUsedPasturesAutumn)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.TheCostPer1HeadForTheBillingPeriodSpring)</th>
                            <td>@Html.DisplayFor(model => model.TheCostPer1HeadForTheBillingPeriodSpring)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.TheCostPer1HeadForTheBillingPeriodSummer)</th>
                            <td> @Html.DisplayFor(model => model.TheCostPer1HeadForTheBillingPeriodSummer)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.TheCostPer1HeadForTheBillingPeriodFall)</th>
                            <td>@Html.DisplayFor(model => model.TheCostPer1HeadForTheBillingPeriodFall)</td>
                        </tr>
                        <tr>
                            <th scope="row"> @Html.DisplayNameFor(model => model.LoadSpring)</th>
                            <td> @Html.DisplayFor(model => model.LoadSpring)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.LoadSummer)</th>
                            <td>@Html.DisplayFor(model => model.LoadSummer)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.LoadFall)</th>
                            <td> @Html.DisplayFor(model => model.LoadFall)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.ShortageSurplusOfPastureFeedSpring)</th>
                            <td> @Html.DisplayFor(model => model.ShortageSurplusOfPastureFeedSpring)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.ShortageSurplusOfPastureFeedSummer)</th>
                            <td> @Html.DisplayFor(model => model.ShortageSurplusOfPastureFeedSummer)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.ShortageSurplusOfPastureFeedAutumn)</th>
                            <td> @Html.DisplayFor(model => model.ShortageSurplusOfPastureFeedAutumn)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.RequiredAdditionalAreaIfNecessaryPasturesSpring)</th>
                            <td>@Html.DisplayFor(model => model.RequiredAdditionalAreaIfNecessaryPasturesSpring)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.RequiredAdditionalAreaIfNecessaryPasturesSummer)</th>
                            <td>@Html.DisplayFor(model => model.RequiredAdditionalAreaIfNecessaryPasturesSummer)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.RequiredAdditionalAreaIfNecessaryPasturesAutumn)</th>
                            <td>@Html.DisplayFor(model => model.RequiredAdditionalAreaIfNecessaryPasturesAutumn)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.ThePresenceOfDegradedSitesIfAvailable)</th>
                            <td>@Html.DisplayFor(model => model.ThePresenceOfDegradedSitesIfAvailable)</td>
                        </tr>
                        <tr>
                            <th scope="row"> @Html.DisplayNameFor(model => model.RecommendationsForImprovingThisDegradedArea)</th>
                            <td>@Html.DisplayFor(model => model.RecommendationsForImprovingThisDegradedArea)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">@SharedLocalizer["Edit"]</a> |
                <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
            </div>
        </div>
    </div>
</div>
